<div id="filterrific_results">
  <% if @settlements.present? %>
    <div class="bottom-buffer-sm">
      <div class="btn-group">
        <button class="btn btn-sm btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true", data-toggle="dropdown" type="button">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> </span>
          Download
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Excelsheet', @download_path_xlsx %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render 'shared/pagination', collection_to_paginate: settlements %>
  <table class="table">
    <thead>
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :name) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :amount) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :date) %></th>
      <th>Description</th>
      <th><%= filterrific_sorting_link(@filterrific, :type) %></th>
    </tr>
    </thead>

    <tbody>
    <% if settlements
         settlements.each do |settlement| %>
            <tr>
              <td><%= settlement.name %></td>
              <td><%= settlement.amount %></td>
              <td><%= settlement.date_bs %></td>
              <td><%= settlement.description %></td>
              <td><%= settlement.receipt? ? 'receipt' : 'payment' %></td>
              <!-- <td><%= settlement.voucher %></td> -->
              <td><%= link_to 'Show', settlement, target: '_blank' %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <% if !settlements || settlements.empty? %>
      <div class="row text-center top-buffer-md">
        There are no matching settlements.
      </div>
  <% end %>
  <%= render 'shared/pagination', collection_to_paginate: settlements %>
</div>
