<div id="filterrific_results">
  <% if settlements.present? %>
      <div class="bottom-buffer-sm">
        <div class="btn-group">
          <button class="btn btn-sm btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true", data-toggle="dropdown" type="button">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> </span>
            Download
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Excelsheet', @download_path_xlsx %></li>
          </ul>
        </div>
      </div>
  <% end %>

  <%= render 'shared/pagination', collection_to_paginate: settlements %>
  <table class="table">
    <thead>
    <tr>
      <th class="">S.N.</th>
      <th class="col-xs-2">Name</th>
      <th class="col-xs-1 text-right">Amount</th>
      <th class="col-xs-1">Bank</th>
      <th class="col-xs-2">Cheque Number</th>
      <th class="col-xs-1">Date</th>
      <th class="col-xs-3">Description</th>
      <th class="col-xs-1">Type</th>
      <th class="col-xs-1">Action</th>
    </tr>
    </thead>

    <tbody>
    <%
      if settlements.present?
        pagination_count = kaminari_serial_number(params[:page], settlements.limit_value)
        settlements.each_with_index do |settlement, index|
    %>
            <tr>
              <td><%= pagination_count + index %></td>
              <td><%= settlement.name %></td>
              <td class="text-right"><%= arabic_number(settlement.amount) %></td>
              <td><%= settlement.formatted_cheque_numbers_and_bank_codes[:bank_codes].html_safe %></td>
              <td><%= settlement.formatted_cheque_numbers_and_bank_codes[:cheque_numbers].html_safe %></td>
              <td><%= settlement.date_bs %></td>
              <td><%= settlement.description %></td>
              <td><%= pretty_enum(settlement.settlement_type) %></td>
              <td><%= link_to 'Show', settlement, target: '_blank' %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <% if settlements.empty? %>
      <div class="row text-center top-buffer-md">
        There are no matching settlements.
      </div>
  <% end %>
  <%= render 'shared/pagination', collection_to_paginate: settlements %>
</div>
