<p id="notice"><%= notice %></p>
<% provide(:section_title, "Settlements") %>

<%= form_for_filterrific @filterrific do |f| %>
    <div>
      Client
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.collection_select(
              :by_client_id,
              @filterrific.select_options[:by_client_id],
              :id,
              :name,
              {include_blank: '- Any -'},
              {class: 'form-control combobox' }) %>
    </div>

    <div>
      Settlement Type
      <%= f.select(
              :by_settlement_type,
              @filterrific.select_options[:by_settlement_type],
              { include_blank: '- Any -' },{class: 'form-control combobox' }
          ) %>
    </div>

    <div>
      <%= link_to(
              'Reset filters',
              reset_filterrific_url
          ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
<% end %>

<%= render(
        partial: 'settlements/list',
        locals: { settlements: @settlements}
    )
%>

