<p id="notice"><%= notice %></p>
<% provide(:section_title, "Settlements") %>

<%= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
    <div class="row panel panel-default filter-form">
      <div class="panel-body">
        <div class="col-xs-3">
          <label>
            Client
          </label>
          <%= f.collection_select(
                  :by_client_id,
                  @filterrific.select_options[:by_client_id],
                  :id,
                  :name,
                  {include_blank: '- Any -'},
                  {class: 'form-control combobox' }) %>
        </div>

        <div class="col-xs-3">
          <label>
            Settlement Type
          </label>
          <%= f.select(
                  :by_settlement_type,
                  @filterrific.select_options[:by_settlement_type],
                  { include_blank: '- Any -' },{class: 'form-control combobox' }
              ) %>
        </div>

        <div class="col-xs-3">
          <label>
            Date
          </label>
          <br>
          <%= f.text_field(
                  :by_date,
                  :placeholder => 'YYYY-MM-DD',
                  class: 'form-control' ) %>
        </div>

        <div class="col-xs-3">
          <label>
            Date Range
          </label>
          <%= f.text_field(
                  :by_date_from,
                  :placeholder => 'YYYY-MM-DD',
                  class: 'form-control' ) %>
          <%= f.text_field(
                  :by_date_to,
                  :placeholder => 'YYYY-MM-DD',
                  class: 'form-control' ) %>
        </div>

        <div class="clearfix">
          <div class="col-xs-3">
            <%= f.submit 'Search' %>
            <%= link_to(
                    'Reset filters',
                    reset_filterrific_url
                ) %>
            <br>
          </div>
        </div>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    </div>
<% end %>

<%= render(
        partial: 'settlements/list',
        locals: { settlements: @settlements}
    )
%>

