<br>
<div class="panel panel-default top-buffer">
  <div class="panel-heading">
    List of files uploaded
  </div>
  <div class="panel-body">
    <% if settlements.present? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Settlement Id</th>
            <th>Report Date</th>
            <th>Upload Date</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <% settlements.each do |settlement| %>
              <tr>
                <td><%= settlement.settlement_id %> </td>
                <td>
                  <% if settlement.settlement_date %>
                      <%= "#{ad_to_bs_string(settlement.settlement_date)} BS" %>
                      <br>
                      <%= "#{settlement.settlement_date} AD" %>
                  <% end %>
                </td>
                <td>
                  <%= "#{ad_to_bs_string(settlement.updated_at.to_date)} BS" %>
                  <br>
                  <%= "#{settlement.updated_at.to_date} AD" %>
                </td>
                <td><%= settlement.complete? ? 'Processed' : 'Pending' %> </td>
                <td>
                  <%= link_to 'view', nepse_settlement_path(settlement.id)%>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="text-center text-muted">
        No settlements uploaded yet.
      </div>
    <% end %>
  </div>
</div>
