<% provide(:section_title, "Upload Sales CM File") %>

<div>
  <%= form_tag import_files_sales_path, multipart: true do %>
      <label for="settlment_date">Settlement Date (BS)</label>
      <div class="row">
        <div class="col-sm-2">

          <div class="form-group">
            <%= text_field_tag :settlement_date, nil, placeholder: "YYYY-MM-DD", :autofocus => true, class: 'form-control'  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= file_field_tag :file %>
      </div>
      <p class="text-muted"> Note: Upload file should be in csv format </p>
      <div class="form-group">
        <%= check_box_tag  'is_partial_upload' %>
        <a class='no-hover warning-text' data-toggle='tooltip' title='Only select this if the payout being uploaded is partial for its date.'>Partial Upload</a>
        <br>
        <br>
        <%= button_tag "Import", { data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Uploading..." } , :class => 'btn btn-primary btn-flat'}  %>
      </div>

  <% end %>
</div>

<%= render 'list', settlements: @settlements %>

<% if @list_incomplete %>
    <div class="text-center">
      <%= link_to "View Full List", files_sales_path %>
    </div>
<% end %>
