<%= simple_form_for(@branch) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs"  >
      <%= f.input :code %>
      <%= f.input :address %>
      <%= f.input :top_nav_bar_color, as: :minicolors, input_html: {data: { toggle: 'colorpicker',
            minicolors: {theme: :bootstrap}}, :id => "branch_top_nav_bar_color"} %>
      <p> Or select from the ones below
      <div id="recommendedColors">
        <div class="color-box color-box-clickable" id="color1"><span class="glyphicon glyphicon-ok hidden"></span></div>
        <div class="color-box color-box-clickable" id="color2"><span class="glyphicon glyphicon-ok hidden"></span></div>
        <div class="color-box color-box-clickable" id="color3"><span class="glyphicon glyphicon-ok hidden"></span></div>
        <div class="color-box color-box-clickable" id="color4"><span class="glyphicon glyphicon-ok hidden"></span></div>
        <div class="color-box color-box-clickable" id="color5"><span class="glyphicon glyphicon-ok hidden"></span></div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
