%p{id: 'notice'}= notice
- provide(:section_title, "Listing Branches")
- unless @branches.empty?
  %table.table.table-striped
    %thead
      %th.col-xs-4= "Code"
      %th.col-xs-3= "Address"
      %th.col-xs-1{colspan: 3}
    %tbody
      - @branches.each do |branch|
        %tr
          %td= branch.code
          %td= branch.address
          %td= link_to 'Show', branch
          %td= link_to 'Edit', edit_branch_path(branch)
- else
  %p.warning No Records!

= link_to 'New Branch', new_branch_path