<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Code:</strong>
  <%= @branch.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Color:</strong>
  <div class="color-box" style ="background-color: <%=  @branch.top_nav_bar_color %>"></div>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
