%div#filterrific_results
  = render 'shared/pagination', collection_to_paginate: sms_messages

  %div.row
    %table.table.table-striped.table-fixed-width
      %thead
        %th.col-xs-2.text-center= 'Client'
        %th.col-xs-1.text-center= 'Date'
        %th.col-xs-1.text-center= 'Phone'
        %th.col-xs-1.text-center= 'Credit Used'
        %th.col-xs-4.text-center= 'Message'
      %tbody
        - if sms_messages
          - sms_messages.each do |sms_message|
            - client_account = sms_message.transaction_message.client_account
            %tr
              %td.col-xs-1.text-center= "#{client_account.name.titleize} (#{client_account.nepse_code})"
              %td.col-xs-1.text-center= ad_to_bs_string(sms_message.transaction_message.transaction_date)[2..-1]
              %td.col-xs-1.text-center= sms_message.phone
              %td.col-xs-1.text-center= sms_message.credit_used
              %td.col-xs-4.wrap-text= sms_message.transaction_message.sms_message
    -if !sms_messages || sms_messages.empty?
      %div.row.text-center.top-buffer-md
        There are no matching SMSes.
  = render 'shared/pagination', collection_to_paginate: sms_messages
