<p id="notice"><%= notice %></p>

<h1>Listing Sms Messages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sms_messages.each do |sms_message| %>
      <tr>
        <td><%= link_to 'Show', sms_message %></td>
        <td><%= link_to 'Edit', edit_sms_message_path(sms_message) %></td>
        <td><%= link_to 'Destroy', sms_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sms message', new_sms_message_path %>
