- provide(:section_title, "Listing order requests")
= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f|
  .panel.panel-default.filter-form
    .panel-body
      .row
        .col-sm-3
          %label
            Client
          = f.collection_select(                        |
            :with_client_id,                              |
            @filterrific.select_options[:with_client_id], |
            :id,                                        |
            :name_and_nepse_code,                 |
            {include_blank: true},                 |
            {class: 'form-control combobox combobox-select min-3', id: 'client_accounts_index_combobox', 'data-placeholder': '- Any -' }) |
        .col-sm-3
          %label
            Company Name
          = f.collection_select(                        |
            :with_company_id,                              |
            @filterrific.select_options[:with_company_id], |
            :id,                                        |
            :name_and_code,                       |
            {include_blank: true},                      |
            {class: 'form-control combobox combobox-select min-3', id: 'isin_info_isin_index_combobox', 'data-placeholder': '- Any -' }) |
        .col-sm-3
          %label
            Date
          %br
          = f.text_field(                 |
            :with_date,                     |
            :placeholder => 'YYYY-MM-DD', |
            class: 'form-control' )   |
        .col-sm-3
          %label
            Status
          = f.select(                        |
            :with_status,                              |
            @filterrific.select_options[:with_status], |
            {include_blank: true},          |
            {class: 'form-control combobox combobox-select', 'data-placeholder': '- Any -' }) |
      .row.top-buffer-sm
        .col-xs-2
          = f.submit 'Search', :class => 'btn btn-xs btn-primary btn-flat'
          = link_to('Reset filters', reset_filterrific_url, class: 'filterrific-reset')
          = image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'filteriffic-spinner')
    = render_filterrific_spinner


%table.table
  %thead
    %tr
      %th Client
      %th Company
      %th Date
      %th Quantity
      %th Rate
      %th Status

      %th
      %th

  %tbody
    - if @order_request_details.present?
      - @order_request_details.each do |order_request_detail|
        %tr
          %td= order_request_detail.client_account.try(:name_and_nepse_code)
          %td= order_request_detail.company
          %td= ad_to_bs_string(order_request_detail.created_at.to_date)
          %td= order_request_detail.quantity
          %td= order_request_detail.rate
          %td= order_request_detail.status.titleize
          %td= link_to 'Edit', edit_order_request_detail_path(order_request_detail) if order_request_detail.can_be_updated?
          %td
            = link_to 'Cancel', order_request_detail, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user.client? && order_request_detail.can_be_updated?
%br
  = render 'shared/pagination', collection_to_paginate: @order_request_details

