<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @user_access_role.role_name %>
</p>
<p>
  <strong>Role Description:</strong>
  <%= @user_access_role.description %>
</p>

<h4>Menu access Permission</h4>
<%= arranged_tree_as_list(@menu_items, {:list_style => :boostrap_list_group, :ul_class => ['menu-permission-list'] }) do |menu_item| %>
    <% if menu_item['path'].present? %>
      <% next if restricted_for_user(menu_item['path']) %>
        <%= check_box_tag 'user_access_role[menu_item_ids][]', menu_item.id, @user_access_role.menu_item_ids.include?(menu_item.id), id: dom_id(menu_item),  :disabled => true %>
    <% else %>
        <%= check_box_tag '', '', false, class: 'select_all',id: dom_id(menu_item),:disabled => true %>
    <% end %>
    <%= label_tag dom_id(menu_item), menu_item.name , class: "#{@user_access_role.menu_item_ids.include?(menu_item.id) ? 'checked' : 'not-checked'}"-%>
<% end %>

<%= link_to 'Edit', edit_user_access_role_path(@user_access_role) %> |
<%= link_to 'Back', user_access_roles_path %>


<style>
  .checked { color: green}
</style>
