<% provide(:section_title, "Closeout Listing") %>
<p id="notice"><%= notice %></p>

<h1>Listing Closeouts</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @closeouts.each do |closeout| %>
      <tr>
        <td><%= link_to 'Show', closeout %></td>
        <td><%= link_to 'Edit', edit_closeout_path(closeout) %></td>
        <td><%= link_to 'Destroy', closeout, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Closeout', new_closeout_path %>
