=provide(:section_title, "Listing master_setup_commission_infos")
- if @commission_infos.present?
  %table.table.table-striped
    %thead
      %tr
        %th Start date
        %th End date
        %th Start date bs
        %th End date bs
        %th
        %th
        %th

    %tbody
      - @master_setup_commission_infos.each do |master_setup_commission_info|
        %tr
          %td= master_setup_commission_info.start_date
          %td= master_setup_commission_info.end_date
          %td= master_setup_commission_info.start_date_bs
          %td= master_setup_commission_info.end_date_bs
          %td= link_to 'Show', master_setup_commission_info
          %td= link_to 'Edit', edit_master_setup_commission_info_path(master_setup_commission_info)
- else
  %p= "No Commission Information found"
%br

= link_to 'New Commission info', new_master_setup_commission_info_path
