=provide(:section_title, "Listing Commission rates")
- if @commission_infos.present?
  %table.table.table-striped
    %thead
      %tr
        %th Start Date(AD)
        %th End Date(AD)
        %th Start Date(BS)
        %th End Date(BS)
        %th
        %th
        %th

    %tbody
      - @commission_infos.each do |master_setup_commission_info|
        %tr
          %td= master_setup_commission_info.start_date
          %td= master_setup_commission_info.end_date
          %td= ad_to_bs(master_setup_commission_info.start_date)
          %td= ad_to_bs(master_setup_commission_info.end_date)
          %td= link_to 'Show', master_setup_commission_info
          %td= link_to 'Edit', edit_master_setup_commission_info_path(master_setup_commission_info)
- else
  %p= "No Commission Information found"
%br

= link_to 'New Commission info', new_master_setup_commission_info_path
