<%= simple_form_for(@employee_account) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name, disabled: true%> <br>
    <%= @employee_account.id%> <br>
    <div class="clearfix search-form">
      <!--  Form BEGINS-->
          Has Access To:
          <%= f.radio_button 'has_access_to', '0'%> Everyone &nbsp;&nbsp;&nbsp;
          <%= f.radio_button 'has_access_to', '1'%> Some &nbsp;&nbsp;&nbsp;
          <%= f.radio_button 'has_access_to', '2'%> Everyone except some &nbsp;&nbsp;&nbsp;
          <%= f.radio_button 'has_access_to', 'none' %> None
          <div class="client_list">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Ledger Name</th>
                <th>Client Code</th>
                <th>Ledger Type</th>
              </tr>
              </thead>
              <tbody>
              <% @ledgers.each do |ledger| %>
                  <tr>
                    <td>
                      <%= check_box_tag ledger.id, ledger.name.titleize%>
                    </td>
                    <td><%= ledger.name.titleize %></td>
                    <td><%= ledger.client_code.nil? ? 'N/A' : ledger.client_code%></td>
                    <td><%= ledger.client_code.nil? ? 'Internal' : 'Client'%></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <%= f.submit "Apply" %>
      <% end %>
      <!--  Form ENDS-->
    </div>
  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
