
<% provide(:section_title, "Edit Employee Access") %>
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Menu Access', employee_accounts_employee_access_path(id: @employee_account.id, type: 'menu_access') %></li>
    <li class=""><%= link_to 'Branch Access', employee_accounts_employee_access_path(id: @employee_account.id, type: 'branch_access') %></li>
    <li class=""><%= link_to 'Ledger Access', employee_accounts_employee_access_path(id: @employee_account.id, type: 'ledger_access') %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">
      <%= simple_form_for(@employee_account, url: employee_accounts_update_employee_access_path(id: @employee_account.id ) , method: :post) do |f| %>
          <%= f.input :name, placeholder: 'Name', disabled: true %>
          <%= hidden_field_tag 'edit_type', 'menu_access' %>
          <%= f.input :user_access_role_id do %>
              <%= f.select :user_access_role_id, UserAccessRole.all.map { |r| [r.role_name, r.id, { class: "form-control" }] },  include_blank: true %>
          <% end %>

          <br>
          <%= submit_tag -%>
      <% end -%>
    </div>
  </div>
  <!-- /.tab-content -->
</div>