<% provide(:section_title, "Edit Employee Menu Permission") %>
<%= form_for @employee_account do -%>
    <%= MenuItem.count || 0 %>
    <% MenuItem.first_level_menu_items.each do |menu_item| -%>
        <div>
          <% if menu_item.path.present? %>
          <%= check_box_tag :menu_ids, menu_item.id, @employee_account.menu_permissions.include?(menu_item), :name => 'employee_account[menu_ids][]' -%>
          <% end %>
          <%= label_tag :menu_ids, menu_item.name -%>
        </div>
    <% end -%>
    <%= submit_tag -%>
<% end -%>