<% provide(:section_title, "Employees") %>
<div class="clearfix submenu">
  <%
    def is_active_sub_menu_option(option)
      return params[:search_by] == option || params[:show] == option
    end
  %>
  <h5>
    <%= link_to "Search by Employee Name", employee_accounts_path(search_by: "name"), {:class => (is_active_sub_menu_option("name") ? "active-link" : "")} %>
    |
    <%= link_to "All Employees", employee_accounts_path(show: 'all'), {:class => (is_active_sub_menu_option("all") ? "active-link" : "")} %>
    |
    <%= link_to 'New Employee', new_employee_account_path %>
  </h5>
</div>


<% if params[:search_by] == 'name' %>
  <div class="clearfix search-form">
      <%= form_tag(employee_accounts_path, :method => "get", id: "search-form") do %>
          <div class="col-sm-3">
            <%= hidden_field_tag :search_by, "name" %>
            <%= select_tag "search_term", options_from_collection_for_select(@employees_for_combobox, 'id', 'name', params[:search_term]), class: 'form-control combobox', include_blank: false, prompt: 'Select an employee...' %>
          </div>
          <%= submit_tag "Search", class: 'btn btn-sm btn-primary' %>
      <% end %>
  </div>
<% end %>

<% if !@employee_accounts.blank? %>

    <%= render 'shared/pagination', collection_to_paginate: @employee_accounts %>

    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Has Access To</th>
        </tr>
        </thead>
        <tbody>
        <%
          serial_number_count = params[:page].blank? ? 1 : ((params[:page].to_i - 1) * 20) + 1

          @employee_accounts.each_with_index do |x, i| %>
            <tr>
              <td><%= serial_number_count + i %></td>
              <td><%= x.name %></td>
              <td><%= x.phone %><%= "," unless x.phone.blank? %><%= x.phone_perm %></td>
              <td><%= x.email %></td>
              <td><%= x.has_access_to %></td>
              <!--TODO(sarojk): Width of the table columns is being messed up by the following td's adjustment. Fix it: Table flexible-->
              <td>
                <%= link_to 'view', employee_account_path(x) %> |
                <%= link_to 'edit information', edit_employee_account_path(x) %> |
                <%= link_to 'edit access', edit_employee_account_path(x, type: 'ledger_access') %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= render 'shared/pagination', collection_to_paginate: @employee_accounts %>

<% end %>

