<% provide(:section_title, "Reports:Order Threshold") %>
<%= form_tag(report_threshold_transactions_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :transaction_date, params[:transaction_date], placeholder: "YYYY-MM-DD" %>
    <%= submit_tag "Search" %>
<% end %>

<div class="threshold-report">
  <% if @transactions_above_threshold.size > 0 %>
      <br><br>
      <%= t('informer_name', :locale => :np) %> : <%= current_tenant.full_name %>
      <br><br>
      <table class="table table-condensed bordered-full">
        <tr>
          <th class="col-1"><%= t('serial_no', :locale => :np) %> </th>
          <th class="col-2"><%= t('buyer_seller_address', :locale => :np) %> </th>
          <th class="col-3"><%= t('occupation', :locale => :np) %> </th>
          <th class="col-4"><%= t('branch_if_any', :locale => :np) %> </th>
          <th class="col-5"><%= t('transaction_date', :locale => :np) %> </th>
          <th class="col-6"><%= t('transaction_type', :locale => :np) %> </th>
          <th class="col-7"><%= t('transaction_amount', :locale => :np) %> </th>
          <th class="col-8"><%= t('source_of_income', :locale => :np) %> </th>
          <th class="col-9"><%= t('remarks', :locale => :np) %> </th>
        </tr>
        <% @transactions_above_threshold.each_with_index do |transaction, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= transaction.client_account.name %></td>
              <td></td>
              <td></td>
              <td><%= @transaction_date %></td>
              <td><%= transaction.transaction_type.titleize %></td>
              <td></td>
              <td><%= transaction.net_amount %></td>
              <td></td>
            </tr>
        <% end %>
      </table>
      <br>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
          <p><%= t('signature_of_reporter', :locale => :np) %></p>
          <p><%= t('name', :locale => :np) %>:</p>
          <p><%= t('designation', :locale => :np) %>:</p>
          <p><%= t('phone', :locale => :np) %>: <%= current_tenant.phone_number %></p>
          <p><%= t('email', :locale => :np) %>: </p>
          <p><%= t('fax', :locale => :np) %>: <%= current_tenant.fax_number %></p>
          <p><%= t('date', :locale => :np) %>:</p>
        </div>
      </div>
  <% end %>
</div>

