= simple_form_for(@client_account) do |f|
  = f.error_notification

  .clearfix
    .col-xs-12
      = hidden_field_tag 'from_path', @from_path
      = f.input :name, placeholder: "Name"
      = f.input :citizen_passport, label: "Citizen/Birth Certificate",placeholder: "Citizenship/Birth Certificate"
      .row
        .col-xs-6
          = f.input :citizen_passport_date, label: "Citizen/Birth Certificate Issued Date"
        .col-xs-6
          = f.input :citizen_passport_district, label: "Citizen/Birth Certificate Issued District"

      .row
        .col-xs-6
          = f.input :pan_no, label: "PAN"
        .col-xs-6
          = f.input :dob, placeholder: "YYYY-MM-DD"

      = f.input :father_mother , label: "Father/Mother's Name",placeholder: "Father/Mother's Name"
      = f.input :granfather_father_inlaw , label: "GrandFather's Name",placeholder: "GrandFather/Father In Law's Name"
      = f.input :profession_code ,label: "Profession", placeholder: "Profession"
      = f.input :mobile_number, label: "Mobile Number"
      -# need place for spouse

      %h4 If associated to any organisation or company
      .row
        .col-xs-8
          = f.input :company_name , label: 'Company Name'
        .col-xs-4
          = f.input :company_id , label: 'Company Id'

      %h3 Permanent address
      = f.input :address1_perm , label: 'Address line 1'
      = f.input :address2_perm , label: 'Address line 2'
      = f.input :address3_perm , label: 'Address line 3'
      .row
        .col-xs-4
          = f.input :city_perm, label: 'City'
        .col-xs-4
          = f.input :state_perm, label: 'State'
        .col-xs-4
          = f.input :country_perm, label: 'Country'
        .col-xs-4
          = f.input :phone_perm, label: 'Phone'
        .col-xs-4
          = f.input :email, label: 'Email'
        .col-xs-4
          = f.input :mobile_number, label: 'Mobile Number'

      %h3 Current address
      = f.input :address1 , label: 'Address line 1'
      = f.input :address2 , label: 'Address line 2'
      = f.input :address3 , label: 'Address line 3'
      .row
        .col-xs-4
          = f.input :city, label: 'City'
        .col-xs-4
          = f.input :state, label: 'State'
        .col-xs-4
          = f.input :country, label: 'Country'
        .col-xs-4
          = f.input :phone, label: 'Phone'

      %h3 Bank / Financial Institution Information
      = f.input :bank_name, label: 'Name'
      = f.input :bank_address, label: 'Address'
      = f.input :bank_account, label: 'Account No.'

      %h3 Official Information
      .row
        .col-xs-6
          .form-group
            %label Client type
            = f.select :client_type, options_for_select(ClientAccount.client_types.keys, f.object.client_type), {}, class: 'form-control'
        .col-xs-6
          .form-group
            = f.association :branch, collection: Branch.order(:code),label_method: :code, value_method: :id,:input_html => { :class => 'combobox', :autocomplete => 'off'}, prompt: 'Select a branch...'
      .row
        .col-xs-6
          = f.input :boid, label: 'BoId'
        .col-xs-6
          = f.input :nepse_code, label: 'Nepse Code'

      .row
        .col-xs-6
          = f.input :group_leader_id, :collection => clients_for_combobox,:label_method => :name, :value_method => :id, :label => "Group Leader" ,:include_blank => false, :prompt =>'Select a group leader...', input_html: { class: 'form-control combobox'}
        .col-xs-6
          -#= f.input :referrer_name, :collection => referrers_names_for_combobox,:label_method => :name, :value_method => :name, :label => "Referrer" ,:include_blank => false, input_html: { class: 'form-control combobox'}
          = f.input :referrer_name, label: 'Referrer'

      .form-actions
        = f.button :submit
        = link_to "Cancel", client_accounts_path, class: 'btn btn-success btn-flat'
