%div#filterrific_results

  = render 'shared/pagination', collection_to_paginate: client_accounts

  %div#client_account_list
    %table.table.table-striped
      %thead
        %th.col-xs-1= 'S.N.'
        %th.col-xs-2= 'Name'
        %th.col-xs-2= 'Nepse Code'
        %th.col-xs-2= 'BOID'
        %th.col-xs-2= 'Phone'
        %th.col-xs-2= 'Email'
      %tbody
        -if client_accounts
          -pagination_count = kaminari_serial_number(params[:page], client_accounts.count)
          -client_accounts.each_with_index do |client_account, index|
            %tr
              %td= pagination_count + index
              %td= client_account.name.titleize
              %td= client_account.nepse_code
              %td= client_account.boid
              %td= client_account.commaed_contact_numbers
              %td= client_account.email
              %td
                = link_to 'view', client_account_path(client_account)
                &nbsp;|&nbsp;
                = link_to 'edit', edit_client_account_path(client_account)

    - if !client_accounts || client_accounts.empty?
      %div.row.text-center.top-buffer-md
        There are no matching client accounts.

  = render 'shared/pagination', collection_to_paginate: client_accounts
