%p#notice= notice
- provide(:section_title, "Client Accounts")

%div.bottom-buffer-sm
  = link_to 'New Client', new_client_account_path

= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f|
  .panel.panel-default.filter-form
    .panel-body
      .row
        .col-xs-3
          %label
            Client
          = f.collection_select(                        |
            :by_client_id,                              |
            @filterrific.select_options[:by_client_id], |
            :id,                                        |
            :name_and_nepse_code,                                      |
            {include_blank: true},                 |
            {class: 'form-control combobox combobox-select min-3', id: 'client_accounts_index_combobox', 'data-placeholder': '- Any -' }) |
        .col-xs-3
          %label
            Filter
          = f.select(                        |
            :client_filter,                              |
            @filterrific.select_options[:client_filter], |
            {include_blank: true},                 |
            {class: 'form-control combobox combobox-select', 'data-placeholder': '- Any -' }) |
      .row
        .col-xs-3.top-buffer-sm
          = f.submit 'Search', :class => 'btn btn-xs btn-primary btn-flat'
          = link_to('Reset filters', reset_filterrific_url, class: 'filterrific-reset')
          = image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'filteriffic-spinner')
    = render_filterrific_spinner

= render(partial: 'client_accounts/list', locals: { client_accounts: @client_accounts} )
