- provide(:section_title, 'FloorSheet Details')
- unless @error
  - this_floorsheet_date_bs = ad_to_bs_string(@date)
  - paginate = false
  = link_to 'View Transaction Messages', transaction_messages_path(:paginate => paginate, 'filterrific[by_date]': this_floorsheet_date_bs), target: '_blank', class: 'btn btn-default'
  %table.table.table-striped
    %thead
      %th.col-xs-1= '#'
      %th.col-xs-3= 'Contract No.'
      %th.col-xs-1= 'Symbol'
      %th.col-xs-3= 'Client Name'
      %th.col-xs-1= 'Client Code'
      %th.col-xs-1= 'Quantity'
      %th.col-xs-1= 'Rate'
      %th.col-xs-1= 'Amount'
    %tbody
      - @processed_data.each_with_index do |item,i|
        %tr
          %td= i+1
          %td= item[0].to_i
          %td= item[1]
          %td= item[4].titleize
          %td= item[5]
          %td= item[6]
          %td= item[7]
          %td= item[8]
  %h4= "Total Amount: #{arabic_number(@total_amount)}"
  = link_to 'View Transaction Messages', transaction_messages_path(:paginate => paginate, 'filterrific[by_date]': this_floorsheet_date_bs), target: '_blank', class: 'btn btn-default'
- else
  = link_to 'Upload FloorSheet', new_files_floorsheet_path