<% if !@file_list.blank? %>

    <%= render 'shared/pagination', collection_to_paginate: @file_list%>
    <br>
    <div class="panel panel-danger">
      <div class="panel-heading">
        List of Floor Sheet file uploaded
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Date of Report</th>
              <th>Date of Report(BS)</th>
              <th>Last Updated</th>
            </tr>
            </thead>
            <tbody>
            <% @file_list.each do |file| %>
                <tr>
                  <td><%= file.report_date %> </td>
                  <td><%= ad_to_bs(file.report_date) %> </td>
                  <td><%= file.updated_at.to_date %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%= render 'shared/pagination', collection_to_paginate: @file_list%>

<% end %>