<% provide(:section_title, "Upload FloorSheet file") %>
<p class="text-muted"> Note: Upload file should be in xls format </p>
<div>
  <%= form_tag import_files_floorsheets_path, multipart: true do %>
      <div class="form-group">
        <%= file_field_tag :file %>
      </div>
      <div class="form-group">
        <%= button_tag "Import", { data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Uploading..." } , :class => 'btn btn-primary btn-flat'}  %>
      </div>

  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    List of files uploaded
  </div>
  <div class="panel-body">
    <% if @file_list.present? %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Report Date</th>
            <th>Upload Date</th>
          </tr>
          </thead>
          <tbody>
          <% @file_list.each do |file| %>
              <tr>
                <td>
                  <%= "#{ad_to_bs_string(file.report_date)} BS" %>
                  <br>
                  <%= "#{file.report_date.to_date} AD" %>
                </td>
                <td>
                  <%= "#{ad_to_bs_string(file.updated_at)} BS" %>
                  <br>
                  <%= "#{file.updated_at.to_date} AD" %>
                </td>
                <td><%= link_to 'view', share_transactions_path(:paginate => false, 'filterrific[by_date]': ad_to_bs_string(file.report_date)) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <% if @list_incomplete %>
        <div class="text-center">
          <%= link_to "View Full List", files_floorsheets_path %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center text-muted"> No FloorSheets uploaded yet.</div>
    <% end %>
  </div>
</div>
