<% date = ad_to_bs_string(Date.today) %>
<% provide(:section_title, "Upload FloorSheet File") %>
<p class="text-muted"> Note: Upload file should be in xls format</p>

<div>
  <%= form_tag import_files_floorsheets_path, multipart: true do %>
      <div class="form-group">
        <%= file_field_tag :file %>
      </div>

      <div class="form-group">
        <%= check_box_tag  'is_partial_upload' %>
        <a class='no-hover warning-text' data-toggle='tooltip' title='Only select this if the floorsheet being uploaded is partial for its date.'>Partial Upload</a>
        <br>
        <br>
        <%= button_tag "Import", { data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Uploading..." } , :class => 'btn btn-primary btn-flat'}  %>
      </div>

  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    List of files uploaded
  </div>
  <div class="panel-body">
    <% if @file_list.present? %>
      <%= render 'files/floorsheets/list' %>
      <% if @list_incomplete %>
        <div class="text-center">
          <%= link_to "View Full List", files_floorsheets_path %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center text-muted"> No FloorSheets uploaded yet.</div>
    <% end %>
  </div>
</div>
