%p#notice= notice

%p
  %b Start date:
  = @master_setup_interest_rate.start_date
%p
  %b End date:
  = @master_setup_interest_rate.end_date
%p
  %b Interest type:
  = @master_setup_interest_rate.interest_type
%p
  %b Rate:
  = @master_setup_interest_rate.rate

= link_to 'Edit', edit_master_setup_interest_rate_path(@master_setup_interest_rate)
\|
= link_to 'Back', master_setup_interest_rates_path
