<div class="clearfix search-form">
  <%
    if params[:search_by] == 'client_name'
  %>
      <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
          <div class="col-sm-3">
            <%= hidden_field_tag :search_by, "client_name" %>
            <%= select_tag "search_term", options_from_collection_for_select(@selected_client_for_combobox_in_arr, 'id', 'name_and_nepse_code', params[:search_term]), class: 'form-control combobox combobox-select min-3', id: 'bills_index_combobox', include_blank: true, 'data-placeholder': 'Select a client...' %>
          </div>
          <%= submit_tag "Search", class: 'btn btn-flat btn-primary', tabindex: '1' %>
      <% end %>
  <% end %>

  <%
    if params[:search_by] == 'bill_type'
  %>
      <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
          <%= hidden_field_tag :search_by, "bill_type" %>
          <div class="col-xs-3">
            <%= select_tag :search_term, options_for_select([['Sales', 'sales'], ['Purchase', 'purchase']], params[:search_term]), class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-flat btn-primary" %>
      <% end %>
  <% end %>

  <%
    if params[:search_by] == 'bill_number'
  %>
      <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
          <%= hidden_field_tag :search_by, "bill_number" %>
          <div class="col-sm-3">
            <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Bill Number", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-flat btn-primary" %>
      <% end %>
  <% end %>

  <%
    if params[:search_by] == 'date'
  %>
      <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
          <%= hidden_field_tag :search_by, "date" %>
          <div class="col-sm-3">
            <%= text_field_tag :search_term, params[:search_term], placeholder: "YYYY-MM-DD", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-flat btn-primary" %>
      <% end %>
  <% end %>

  <%
    if params[:search_by] == 'date_range'
  %>
      <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
          <%= hidden_field_tag :search_by, "date_range" %>
          <%
            text_field_value_1 = params[:search_term]['date_from'] unless params[:search_term].blank?
            text_field_value_2 = params[:search_term]['date_to'] unless params[:search_term].blank?
          %>
          <div class="col-sm-3">
            <%= text_field_tag "search_term[date_from]", text_field_value_1, placeholder: "YYYY-MM-DD", class: "form-control" %>
          </div><div class="col-sm-3">
            <%= text_field_tag "search_term[date_to]", text_field_value_2, placeholder: "YYYY-MM-DD", class: "form-control" %>
          </div><div class="col-sm-3">
            <%= submit_tag "Search", class: "btn btn-flat btn-primary" %>
          </div>
      <% end %>
  <% end %>
</div>
