%div#filterrific_results

  - if bills.present?
    %div
      %div.bottom-buffer-sm.download-selected_bill.text-left.btn-disabled
        %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
        %span= 'Download Selected Bills'
      %div.bottom-buffer-sm.text-right
        .btn-group
          %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
            Download
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'Excelsheet', @download_path_xlsx

  %div#bill_list.table-responsive
    %table.table.table-striped
      %thead
        %th.col-xs-1.text-center
          = 'All'
          %br
          = check_box_tag 'select_all', '', false, class: 'bill'
        %th.col-sm-1= 'S.N.'
        %th.col-sm-1= 'Bill No.'
        %th.col-sm-1= 'Date(BS)'
        %th.col-sm-2= 'Client'
        %th.col-sm-2= 'Phone'.html_safe
        %th.col-sm-1= 'Type'
        %th.col-sm-1= 'Status'
        %th.col-sm-2= 'Companies'.html_safe
        %th.col-sm-1= 'Amount'.html_safe
      %tbody
        -if bills.present?
          -pagination_count = kaminari_serial_number(params[:page], bills.limit_value)
          -bills.each_with_index do |bill, index|
            %tr
              %td.text-center= check_box_tag bill.id, '', false, class: 'bill'
              %td= pagination_count + index
              %td= bill.formatted_bill_number
              %td= bill.formatted_bill_dates["bs"][0..-4]
              %td= bill.formatted_client_name
              %td= bill.formatted_client_all_phones
              %td= bill.formatted_type
              %td= bill.formatted_status
              %td= bill.formatted_companies_list
              %td.text-right= bill.formatted_net_bill_amount
              %td= link_to 'view', bill_path(bill)

    - if bills.blank?
      %div.row.text-center.top-buffer-md
        There are no matching bills.

  = render 'shared/pagination', collection_to_paginate: bills
