<% provide(:section_title, "Bills") %>


<div class="clearfix submenu" >
  <h4>
    <%= link_to "List all Bills",  bills_path(show: "all") %>  |
    <%= link_to "Search by Client Name",  bills_path(search_by: "client_name") %>  |
    <%= link_to "Search by Bill Number",  bills_path(search_by: "bill_number") %>  |
    <%= link_to "Search by Date",  bills_path(search_by: "date") %>  |
    <%= link_to "Search by Date Range",  bills_path(search_by: "date_range") %>
    <!-- TODO -->
    <!-- <%= link_to "Search by Bill Type",  bills_path(search_by: "bill_type") %> | -->
  </h4>
</div>

<div class="clearfix search-form">
<%
if params[:search_by] == 'client_name'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "client_name" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Client Name" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>


<%
if params[:search_by] == 'bill_number'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "bill_number" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Bill Number" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'date'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "date" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Date" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'date_range'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "date_range" %>
  <%
  text_field_value_1 = params[:search_term]['date_from'] unless params[:search_term].blank?
  text_field_value_2 = params[:search_term]['date_to'] unless params[:search_term].blank?
  %>
  <%= text_field_tag "search_term[date_from]", text_field_value_1, placeholder: "Date from" %>
  <%= text_field_tag "search_term[date_to]", text_field_value_2, placeholder: "Date to" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>
</div>


<% # OPTIMIZE Incorporate search term specific message %>
<% if !params[:search_by].blank? && !params[:commit].blank? && !@bills.present? %>
<% if params[:search_by] == 'date_range'  %>
<p>There are no bills matching the date range '<%= params[:search_term]['date_from'] %>' to '<%= params[:search_term]['date_to'] %>'.</p>
<% elsif %>
<p>There are no bills matching the term '<%= params[:search_term] %>'.</p>
<% end %>
<% end %>


<% if !@bills.empty?
  @bills.each do |bill|
  # TODO Should a bill be allowed to be Edited or Destroyed
  # TODO Should the bill number be prepended with fiscal year in the view and not in the model?
  %>

  <div class="clearfix bill-card">
    <!-- Bill (minified) BEGINS -->
    <div class="clearfix">
      <div class="col-xs-4">
        <span class="key">Bill No:</span>
        <%= bill.formatted_bill_number %><br>
        <span class="key">Bill Date:</span>
        <%= bill.formatted_bill_dates["bs"]%>
      </div>
      <div class="col-xs-4">
        <span class="key">Customer:</span>
        <%= bill.formatted_client_name %> <br>
        <span class="key">Bill Type:</span>
        <%= bill.formatted_type %> <br>
      </div>
      <div class="col-xs-4">
        <span class="key">Companies Transacted:</span>
        <%= bill.formatted_companies_list %> <br>
        <span class="key">Net Bill Amount:</span>
        <%= bill.formatted_net_bill_amount %> <br>
      </table>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-xs-12 text-center">
      <%= link_to 'Show Full View', bill %></td>
      <!-- <td><%= link_to 'Edit', edit_bill_path(bill) %></td> -->
      <!-- <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </div>
  </div>
</div>
<!-- Bill (minified) ENDS -->

<% end %>
<% end %>

<div class="text-center">
  <% unless @bills.blank? %>
  <%= paginate @bills, :theme => 'twitter-bootstrap-3'%>
  <div class="text-center">
    <%= page_entries_info @bills %>
  </div>
  <% end %>
</div>
