<% provide(:section_title, "Bills") %>

<%= render 'index_sub_menu' %>
<%= render 'index_search_form' %>


<% # OPTIMIZE Incorporate search term specific message %>
<% if !params[:search_by].blank? && !params[:commit].blank? && !@bills.present? %>
    <% if params[:search_by] == 'date_range' %>
        <p>There are no bills matching the date range '<%= params[:search_term]['date_from'] %>' to
          '<%= params[:search_term]['date_to'] %>'.</p>
    <% else %>
        <p>There are no bills matching the search.</p>
    <% end %>
<% end %>


<%= render 'shared/pagination', collection_to_paginate: @bills %>

<% if !@bills.empty? %>
    <table class="table table-no-border table-striped table-condensed text-left">
      <tr>
        <th>S.N.</th>
        <th>Bill No.</th>
        <th>Bill Date</th>
        <th>Customer</th>
        <th>Type</th>
        <th>Status</th>
        <th class="text-center">Companies <br>Transacted</th>
        <th class="text-center">Net <br>Bill Amount</th>
        <th> Action</th>
      </tr>

      <%
        #For serial number to work properly with kaminari pagination
        serial_number_count = params[:page].blank? ? 1 : ((params[:page].to_i - 1) * 20) + 1

        @bills.each_with_index do |bill, index|

      %>
          <!-- Bill (row) BEGINS -->
          <tr>
            <td><%= serial_number_count + index %></td>
            <td><%= bill.formatted_bill_number %></td>
            <td><%= bill.formatted_bill_dates["bs"] %></td>
            <td><%= bill.formatted_client_name %></td>
            <td><%= bill.formatted_type %></td>
            <td><%= bill.formatted_status %></td>
            <td><%= bill.formatted_companies_list %></td>
            <td class="text-right"><%= bill.formatted_net_bill_amount %></td>
            <td>
              <!--  TODO: Optimize -->
              <% voucher_type = (bill.purchase?) ? Voucher.voucher_types[:receipt] : Voucher.voucher_types[:payment] %>
              <%= link_to 'View', bill %>
            </td>
          </tr>
          <!-- Bill (row) ENDS -->


      <% end %>
    </table>
<% end %>

<%= render 'shared/pagination', collection_to_paginate: @bills %>
