%p#notice= notice
- provide(:section_title, "Bills")

= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f|
  .panel.panel-default.filter-form
    .panel-body
      .row
        .col-sm-3
          %label
            Client
          - if current_user.client?
            - client_id = params.dig(:filterrific, :by_client_id)
            %br
            = ClientAccount.find_by_id(client_id).try(:name_and_nepse_code)
            = f.hidden_field(:by_client_id, :value => client_id)
          - else
            = f.collection_select(                        |
              :by_client_id,                              |
              @filterrific.select_options[:by_client_id], |
              :id,                                        |
              :name_and_nepse_code,                 |
              {include_blank: true},                 |
              {class: 'form-control combobox combobox-select min-3', id: 'client_accounts_index_combobox', 'data-placeholder': '- Any -' }) |
        .col-sm-3
          %label
            Type
          = f.select(                        |
            :by_bill_type,                              |
            @filterrific.select_options[:by_bill_type], |
            {include_blank: true},                 |
            {class: 'form-control combobox combobox-select', 'data-placeholder': '- Any -' }) |
        .col-sm-3
          %label
            Status
          = f.select(                        |
            :by_bill_status,                              |
            @filterrific.select_options[:by_bill_status], |
            {include_blank: true},                 |
            {class: 'form-control combobox combobox-select', 'data-placeholder': '- Any -' }) |
        .col-sm-2
          %label
            Bill Number
          %br
          = f.text_field(                 |
            :by_bill_number,                     |
            :placeholder => '', |
            class: 'form-control' ) |
      .row.top-buffer-sm
        .col-sm-2.top-buffer-md
          = f.submit 'Search', :class => 'btn btn-sm btn-primary btn-flat'
          - unless current_user.client?
            = link_to('Reset filters', reset_filterrific_url, class: 'filterrific-reset')
          = image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'filteriffic-spinner')
        .col-sm-2.col-sm-offset-3
          %label
            Date
          %br
          = datepicker_input(f, 'by_date')
        .col-sm-4.text-center
          %label
            Date Range
          .row
            .col-sm-6
              = datepicker_input(f, 'by_date_from')
            .col-sm-6
              = datepicker_input(f, 'by_date_to')
    = render_filterrific_spinner


= render(partial: 'bills/list', locals: { bills: @bills} )
