<% provide(:section_title, "Bills") %>

<div class="clearfix submenu" >
  <%
  def is_active_sub_menu_option(option)
    return params[:search_by] == option
  end
  %>
  <h5>
    <%= link_to "Search by Client Name",  bills_path(search_by: "client_name"), {:class => (is_active_sub_menu_option("client_name")? "active-link" : "")} %>  |
    <%= link_to "Pending Bills",  bills_path(search_by: "bill_status", search_term: "unsettled_bills"), {:class => (is_active_sub_menu_option("bill_status")? "active-link" : "")}   %>  |
    <%= link_to "All Bills",  bills_path(search_by: "all_bills"), {:class => (is_active_sub_menu_option("all_bills")? "active-link" : "")} %>  |
    <%= link_to "Search by Bill Type",  bills_path(search_by: "bill_type"), {:class => (is_active_sub_menu_option("bill_type")? "active-link" : "")} %>  |
    <%= link_to "Search by Bill Number",  bills_path(search_by: "bill_number"), {:class => (is_active_sub_menu_option("bill_number")? "active-link" : "")} %>  |
    <%= link_to "Search by Date",  bills_path(search_by: "date"), {:class => (is_active_sub_menu_option("date")? "active-link" : "")} %>  |
    <%= link_to "Search by Date Range",  bills_path(search_by: "date_range"), {:class => (is_active_sub_menu_option("date_range")? "active-link" : "")} %>
  </h5>
</div>

<div class="clearfix search-form">
<%
if params[:search_by] == 'client_name'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "client_name" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Client Name", :autofocus => true %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'bill_type'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "bill_type" %>
  <div class="col-xs-3">
    <%= select_tag :search_term, options_for_select([['Sales','sales'], ['Purchase','purchase']], params[:search_term] ) %>
  </div>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'bill_number'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "bill_number" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Bill Number" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'date'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "date" %>
  <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Date" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>

<%
if params[:search_by] == 'date_range'
  %>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
  <%= hidden_field_tag :search_by, "date_range" %>
  <%
  text_field_value_1 = params[:search_term]['date_from'] unless params[:search_term].blank?
  text_field_value_2 = params[:search_term]['date_to'] unless params[:search_term].blank?
  %>
  <%= text_field_tag "search_term[date_from]", text_field_value_1, placeholder: "Date from" %>
  <%= text_field_tag "search_term[date_to]", text_field_value_2, placeholder: "Date to" %>
  <%= submit_tag "Search" %>
  <% end %>
<% end %>
</div>


<% # OPTIMIZE Incorporate search term specific message %>
<% if !params[:search_by].blank? && !params[:commit].blank? && !@bills.present? %>
<% if params[:search_by] == 'date_range'  %>
<p>There are no bills matching the date range '<%= params[:search_term]['date_from'] %>' to '<%= params[:search_term]['date_to'] %>'.</p>
<% else %>
<p>There are no bills matching the term '<%= params[:search_term] %>'.</p>
<% end %>
<% end %>

<div class="text-center">
  <% unless @bills.blank? %>
      <%= paginate @bills, :theme => 'twitter-bootstrap-3'%>
      <div class="text-center">
        <%= page_entries_info @bills %>
      </div>
  <% end %>
</div>

<% if !@bills.empty?
  %>
  <table class="table table-no-border table-striped table-condensed text-left">
  <tr>
    <th>S.N.</th>
    <th>Bill No.</th>
    <th>Bill Date</th>
    <th>Customer</th>
    <th>Type</th>
    <th>Status</th>
    <th class="text-center">Companies <br>Transacted</th>
    <th class="text-center">Net <br>Bill Amount</th>
    <th> Action </th>
  </tr>

  <%
    #For serial number to work properly with kaminari pagination
    serial_number_count = params[:page].blank? ? 1 : ((params[:page].to_i - 1) * 20 ) + 1

    @bills.each_with_index do |bill, index|

  %>
  <!-- Bill (row) BEGINS -->
  <tr>
    <td><%= serial_number_count + index %></td>
    <td><%= bill.formatted_bill_number%></td>
    <td><%= bill.formatted_bill_dates["bs"]%></td>
    <td><%= bill.formatted_client_name%></td>
    <td><%= bill.formatted_type %></td>
    <td><%= bill.formatted_status%></td>
    <td><%= bill.formatted_companies_list%></td>
    <td class="text-right"><%= bill.formatted_net_bill_amount%></td>
    <td>
      <!--  TODO: Optimize -->
      <% voucher_type = (bill.purchase?) ? Voucher.voucher_types[:receive]: Voucher.voucher_types[:payment] %>
      <% unless bill.settled? %>
      <%= link_to 'Process Bill', new_voucher_path(voucher_type: voucher_type, bill_id: bill.id) %> |
      <% end %>
      <%= link_to 'View', bill %></td>
  </tr>
  <!-- Bill (row) ENDS -->


  <% end %>
</table>
<% end %>

<div class="text-center">
  <% unless @bills.blank? %>
      <%= paginate @bills, :theme => 'twitter-bootstrap-3'%>
      <div class="text-center">
        <%= page_entries_info @bills %>
      </div>
  <% end %>
</div>
