<% provide(:section_title, "Bills") %>

<% if !@bills.empty? %>
    <%= form_tag process_selected_bills_path do %>
  <table class="table table-no-border table-striped table-condensed text-left ">
  <tr>
    <th></th>
    <th>S.N.</th>
    <th>Bill No.</th>
    <th>Bill Date</th>
    <th>Customer</th>
    <th>Type</th>
    <th>Status</th>
    <th class="text-center">Companies <br>Transacted</th>
    <th class="text-center">Net <br>Bill Amount</th>
    <th> Action </th>
  </tr>

  <%
    #For serial number to work properly with kaminari pagination
    serial_number_count = params[:page].blank? ? 1 : ((params[:page].to_i - 1) * 20 ) + 1

    @bills.each_with_index do |bill, index|

  %>
  <!-- Bill (row) BEGINS -->
  <tr class="<%= bill.purchase? ? 'dr' : 'cr' %>">
    <td><%= check_box_tag "bill_ids[]", bill.id, false, class: "check-bill"  %></td>
    <td><%= serial_number_count + index %></td>
    <td><%= bill.formatted_bill_number%></td>
    <td><%= bill.formatted_bill_dates["bs"]%></td>
    <td><%= bill.formatted_client_name%></td>
    <td><%= bill.formatted_type %></td>
    <td><%= bill.formatted_status%></td>
    <td><%= bill.formatted_companies_list%></td>
    <td class="text-right bill-amount"><%= bill.formatted_net_bill_amount%></td>
    <td>
      <!--  TODO: Optimize -->
      <% voucher_type = (bill.purchase?) ? Voucher.voucher_types[:receipt]: Voucher.voucher_types[:payment] %>
      <%= link_to 'View', bill %>
    </td>

  </tr>
  <!-- Bill (row) ENDS -->


  <% end %>
</table>
        <div class="total-bill-amount">
          <h4>Total:<span class="display-amount">0.00</span><span class="display-type">dr</span></h4>
        </div>
        <%= hidden_field_tag 'client_account_id', @client_account_id %>
        <%= submit_tag "Process Checked" %>
        <% end %>
<% else %>
    No Bills to Settle !!
<% end %>