<p id="notice"><%= notice %></p>

<%
# Everything that needs to be dynamically populated is stored in this section. Availability and prettifying is done in this section.
# TODO: If a field value is not available, put 'N/A' in its placeholder.

@cal = NepaliCalendar::Calendar.new

bill_number = @bill.bill_number
bill_date_ad = @bill.created_at #.to_s.slice(0..10).to_i
bill_date_bs = @cal.ad_to_bs(bill_date_ad.year, bill_date_ad.month, bill_date_ad.day).to_s + ' BS'
bill_date_ad = bill_date_ad.to_s.slice(0..10) + ' AD'
fiscal_year = @bill.fy_code

# Client associated with the bill
@client = ClientAccount.find(@bill.client_account_id)

customer_name = @client.name
customer_nepse_code = @client.nepse_code
customer_contact_number_1 = @client.phone.blank? ? 'N/A' : @client.phone
customer_contact_number_2 = @client.phone_perm.blank? ? 'N/A' : @client.phone_perm

#TODO Find a way to implement clearance_date. As of now, the viable option is to add 3 WORKING DAYS to transaction date. Verify if it is the most efficient way.
clearance_date_ad = 'TODO'
clearance_date_bs = 'TODO'
transaction_date_ad = @bill.share_transactions[0].date
transaction_date_bs = @cal.ad_to_bs(transaction_date_ad.year, transaction_date_ad.month, transaction_date_ad.day).to_s + ' BS'
transaction_date_ad = transaction_date_ad.to_s + ' AD'

share_amount = 'TODO'
sebo_commission = 'TODO'
commission_amount = 'TODO'
name_transfer_amount = 'TODO'
dp_fee = 'TODO'
capital_gain_tax = 'TODO'
net_receivable_amount = 'TODO'
net_payable_amount = 'TODO'
%>

<div class="clearfix" style="background:#eff4f6; padding:5px">

  <!-- Static Company Header BEGINS -->
  <div class="clearfix" style="background:#eff4f6">
    TRISHAKTI SECURITIES PUBLIC LTD.<br>
    Putalisadak, Kathmandu.<br>
    <div class="row">
      <div class="col-xs-3">
        Phone: 977-1-4232132
        <br>
        Fax: 977-1-4232133
        <br>
        PAN: 302830905
        <br>
      </div>
      <div class="col-xs-6 text-center">
        Schedule-3
        <br>
        Relating to Sub-Regulation(I) of Regulation 16
        <br>
        Information note to cients on execution of transation
        <br>
      </div>
    </div>
    <div class="clearfix" style="padding-top:1em; border-bottom: solid 1px; border-bottom-color: #0d0c0c "></div>
  </div>
  <!-- Static Company Header ENDS-->

  <!-- Bill No. and Bill Date BEGINS -->
  <div class="row" style="padding-top:1em; background:#eff4f6">
    <div class="col-xs-4" style="background:#eff4f6">
      Bill No:
      <%= bill_number %>
    </div>
    <div class="col-xs-5" style="background:#eff4f6">
      Bill Date:
      <%= bill_date_ad %>
      (<%= bill_date_bs %>)
    </div>
    <div class="col-xs-3 text-right" style="background:#eff4f6">
      Fiscal Year:
      <%= fiscal_year %>
    </div>
  </div>
  <!-- Bill No. and Bill Date ENDS -->

  <!-- Customer Details BEGINS -->
  <div class="row" style="padding-top:1em; background:#eff4f6">
    <div class="col-xs-4" style="background:#eff4f6">
      <table class="table">
        <tr>
          <td>Customer:</td>
          <td><%= customer_name %>
          </td>
        </tr>
        <tr>
          <td>NEPSE Code:</td>
          <td><%= customer_nepse_code %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-4 col-xs-offset-4 text-right" style="background:#eff4f6">
      <table class="table">
        <tr>
          <td>Contact No.:</td>
          <td><%= customer_contact_number_1 %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= customer_contact_number_2 %></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Customer Details ENDS -->

  <!-- Transaction Details BEGINS -->
  <div class="clearfix" style="padding-top:1em; background:#eff4f6">
    <div>
      TODO: Relevant Purchase/Sale Order message here
    </div>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Transaction No</th>
        <th>No of Shares</th>
        <th>Company Name</th>
        <th>Share Rate</th>
        <th>Base Price</th>
        <th>Amount</th>
        <th>Commission</th>
        <th>Commission Amount</th>
        <th>Capital Gain</th>
      </tr>
      <%
@bill.share_transactions.each do | share_transaction |
%>
      <tr>
        <!-- <th>Transaction No</th> -->
        <td><%= share_transaction.contract_no %></td>
        <!-- <th>No of Shares</th> -->
        <td><%= share_transaction.quantity %></td>
        <!-- <th>Company Name</th> -->
        <td><%= share_transaction.isin_info.company %> (<%= share_transaction.isin_info.isin %>) </td>
        <!-- <th>Share Rate</th> -->
        <td><%= share_transaction.commission_rate %></td>
        <!-- <th>Base Price</th> -->
        <td> TODO </td>
        <!-- <th>Amount</th> -->
        <td><%= share_transaction.quantity * share_transaction.commission_rate.to_i %></td>
        <!-- <th>Commission</th> -->
        <td>0.9%</td>
        <!-- <th>Commission Amount</th> -->
        <td><%= share_transaction.commission_amount%></td>
        <!-- <th>Capital Gain</th> -->
        <td> TODO</td>
      </tr>

      <%
end
%>
    </table>
  </div>
  <!-- Transaction Details ENDS -->

  <!-- Calculations at the Bottom BEGINS -->
  <div class="clearfix" style="padding-top:1em; background:#eff4f6">
    <div class="col-xs-5 text-center">
      <table class="table table-condensed text-right">
        <tr>
          <td>Share Amount:</td>
          <td><%= share_amount %></td>
        </tr>
        <tr>
          <td>SEBO Commission:</td>
          <td><%= sebo_commission %></td>
        </tr>
        <tr>
          <td>commission Amount:</td>
          <td><%= commission_amount %></td>
        </tr>
        <tr>
          <td>Name Transfer Amount:</td>
          <td><%= name_transfer_amount %></td>
        </tr>
        <tr>
          <td>DP Fee:</td>
          <td><%= dp_fee %></td>
        </tr>
        <tr>
          <td>Capital Gain:</td>
          <td><%= capital_gain_tax %></td>
        </tr>
        <tr>
          <td>Net Receivable Amount:</td>
          <td><%= net_receivable_amount %></td>
        </tr>
        <tr>
          <td>Net Payable Amount:</td>
          <td><%= net_payable_amount %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6 col-xs-offset-1 ">
      <!-- Dates section BEGINS -->
      <div>
        <table class="table table-condensed text-right">
          <tr>
            <td>Date of clearance:</td>
            <td>
              <%= clearance_date_ad %>
               (<%= clearance_date_bs %>)
            </td>
          </tr>
          <tr>
            <td>Transaction Date:</td>
            <td>
              <%= transaction_date_ad %>
               (<%= transaction_date_bs %>)
            </td>
          </tr>
        </table>
      </div>
      <!-- Dates section ENDS -->

      <!-- Authorised Signature section BEGINS -->
      <div class="row" style="padding-top:100px">
        <div class="col-xs-offset-1 text-center">
          (Authorized Signature)
          <br>
          TRISHAKTI SECURITIES PUBLIC LTD.
          <br>
          Broker Code No.: 48
          <br>
          Nepal Stock Exchange
        </div>
      </div>
      <!-- Authorised Signature section ENDS -->
    </div>
  </div>

  <div class="clearfix" style="text-decoration:underline">
    <!-- Footnote BEGINS -->
    <em>
      Note: Please bring this bill for enquiry and further processing.
    </em>
    <!-- Footnote ENDS -->
  </div>
</div>
<!--
<%= link_to 'Edit', edit_bill_path(@bill) %>
|
<%= link_to 'Back', bills_path %>
-->