/ Sub-menu BEGINS
%div.clearfix.submenu
  %h5
    =link_to "Search by Client Name",  orders_path(search_by: "client_name"), {:class => (is_active_sub_menu_option("client_name")? "active-link" : "")}
    |
    =link_to "Search by Order Number",  orders_path(search_by: "order_number"), {:class => (is_active_sub_menu_option("order_number")? "active-link" : "")}
    |
    =link_to "All Orders",  orders_path(search_by: "all_orders"), {:class => (is_active_sub_menu_option("all_orders")? "active-link" : "")}
    |
    =link_to "Search by Date",  orders_path(search_by: "date"), {:class => (is_active_sub_menu_option("date")? "active-link" : "")}
    |
    =link_to "Search by Date Range",  orders_path(search_by: "date_range"), {:class => (is_active_sub_menu_option("date_range")? "active-link" : "")}
/Sub-menu ENDS

/Search form BEGINS
%div.clearfix.search-form

  -if params[:search_by] == 'client_name'
    = form_tag(orders_path, :method => "get", id: "search-form") do
      %div.col-sm-3
        = hidden_field_tag :search_by, "client_name"
        = select_tag "search_term", options_from_collection_for_select(clients_for_combobox, 'id', 'name', params[:search_term]), class: 'form-control combobox', include_blank: false, prompt: 'Select an order...'
      = submit_tag "Search", class: 'btn btn-sm'

  -if params[:search_by] == 'order_number'
    = form_tag(orders_path, :method => "get", id: "search-form") do
      = hidden_field_tag :search_by, "order_number"
      = text_field_tag :search_term, params[:search_term], placeholder: "Search by Order Number", :autofocus => true
      = submit_tag "Search"

  -if params[:search_by] == 'date'
    = form_tag(orders_path, :method => "get", id: "search-form") do
      = hidden_field_tag :search_by, "date"
      = text_field_tag :search_term, params[:search_term], placeholder: "YYYY-MM-DD"
      = submit_tag "Search"

  -if params[:search_by] == 'date_range'
    = form_tag(orders_path, :method => "get", id: "search-form") do
      = hidden_field_tag :search_by, "date_range"
      - text_field_value_1 = params[:search_term]['date_from'] unless params[:search_term].blank?
      -text_field_value_2 = params[:search_term]['date_to'] unless params[:search_term].blank?
      = text_field_tag "search_term[date_from]", text_field_value_1, placeholder: "YYYY-MM-DD"
      = text_field_tag "search_term[date_to]", text_field_value_2, placeholder:  "YYYY-MM-DD"
      = submit_tag "Search"

/Search form ENDS

/Search term specific message BEGINS
- if params[:commit].present? && orders.blank?
  -if params[:search_by] == 'client_name' || params[:search_by] == 'order_number'
    %p There are no orders matching the term '#{params[:search_term]}'.
  -if params[:search_by] == 'date'
    %p There are no orders matching the date '#{params[:search_term]}'.
  -if params[:search_by] == 'date_range'
    %p There are no orders matching the date range '#{params[:search_term][:date_from]}' to '#{params[:search_term][:date_to]}'.

/Search term specific message ENDS

= render 'shared/pagination', collection_to_paginate: orders

- if !orders.blank?
  %table.table.table-striped
    %thead
      %th #
      %th Order No.
      %th Client
      %th Client Code
      %th Date
      %th Order Nepse Id
      %th Isin
      %th Price
      %th Qty
      %th Amount
      %th Pending Qty
      %th Type
      %th Sgmnt
      %th Cndtn
      %th State
      -#%th Description
    %tbody
      - orders.each_with_index do |order , i|
        - is_first_order_detail = true
        - order.order_details.each do |order_detail |
          %tr
            - if is_first_order_detail
              - is_first_order_detail = false
              %td= i+1
              %td= order.order_number
              %td= order.client_account.name.titleize
              %td= order.client_account.nepse_code
              %td= ad_to_bs_string(order.date)
            -else #if is_first_order_detail = false
              -# Empty 'td's
              %td= ''
              %td= ''
              %td= ''
              %td= ''
              %td= ''
            -# Order Details BEGINS
            %td= order_detail.order_nepse_id
            %td= order_detail.isin_info.isin
            %td= order_detail.price.to_i
            %td= order_detail.quantity
            %td= order_detail.amount
            %td= order_detail.pending_quantity
            %td= order_detail.typee
            %td= order_detail.segment
            %td= order_detail.condition == 'nonee' ? 'none' : order_detail.condition
            %td= order_detail.state
            -# Order Details ENDS

= render 'shared/pagination', collection_to_paginate: orders
