<p id="notice"><%= notice %></p>

<h1>Listing Bank Payment Letters</h1>

<table>
  <thead>
    <tr>
      <th>Fy code</th>
      <th>Creator</th>
      <th>Updater</th>
      <th>Sales settlement</th>
      <th>Branch</th>
      <th>Voucher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_payment_letters.each do |bank_payment_letter| %>
      <tr>
        <td><%= bank_payment_letter.fy_code %></td>
        <td><%= bank_payment_letter.creator_id %></td>
        <td><%= bank_payment_letter.updater_id %></td>
        <td><%= bank_payment_letter.sales_settlement %></td>
        <td><%= bank_payment_letter.branch %></td>
        <td><%= bank_payment_letter.voucher %></td>
        <td><%= link_to 'Show', bank_payment_letter %></td>
        <td><%= link_to 'Edit', edit_bank_payment_letter_path(bank_payment_letter) %></td>
        <td><%= link_to 'Destroy', bank_payment_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank payment letter', new_bank_payment_letter_path %>
