%td{colspan: 7}
  = simple_form_for object, url: object.new_record? ? share_transactions_path : share_transaction_path(object), remote: true do |f|
    .row
      .col-xs-6
        %p= "Company:  #{object.isin_info.company}"
        %p= "Client:   #{object.client_account.name}"
        %p= "Quantity: #{object.quantity}"
        %p= "Rate:     #{object.share_rate}"
        %p
          = f.input :base_price

        = f.submit "Save", class: "btn btn-primary btn-flat"
        %button.btn.btn-link.cancel Cancel
