-# This view is called by the controller during a settled nepse_settlement's show view.
-# When changed here, be sure to make changes on list.haml too

- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th= "Company"
      %th= "Client"
      %th= "Broker"
      %th= "Quantity"
      %th= "Rate"
      %th= "Base Price"
      %th= "CGT"
    %tbody
      - smart_listing.collection.each do |o|
        %tr.editable{data: {id: o.id}}
          -# Render share transaction row partial
          = smart_listing.render object: o, partial: "share_transactions/share_transaction_no_edit", locals: {object: o}
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!
