%div#filterrific_results

  - if share_transactions
    %div.bottom-buffer-sm
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
          Download
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Excelsheet', @download_path_xlsx
          %li
            = link_to 'PDF', @download_path_pdf, :target => "_blank"
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-print{"aria-hidden" => "true"}
          Print
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'in Regular', @print_path_pdf_in_regular
          %li
            = link_to 'in Letter-head', @print_path_pdf_in_letter_head
      - if @transaction_date.present?
        = link_to "Create Transaction Message", create_multiple_transaction_messages_path(transaction_date: @transaction_date), {data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Creating..." } , method: :post, class: "btn btn-sm btn-default"}

  = render 'shared/pagination', collection_to_paginate: share_transactions

  %div#share_transaction_list
    %table.table.table-striped
      %thead
        %th.text-center= 'SN'
        %th.text-center= 'Transaction<br>Date'.html_safe
        %th.text-center= 'Transaction No'
        %th.col-xs-2.text-center= 'Company'
        %th.text-center= 'Client'
        %th.text-center= 'Bill No'
        %th.text-center= 'Broker'
        %th.text-center= 'Qty<br>In'.html_safe
        %th.text-center= 'Qty<br>Out'.html_safe
        %th.text-center= 'Rate'
        %th.text-center= 'Current<br>Market<br>Rate'.html_safe
        %th.text-center= 'Amount'
        %th.text-center= 'Comission'
      %tbody
        -if share_transactions
          -pagination_count = kaminari_serial_number(params[:page], share_transactions.count)
          -share_transactions.each_with_index do |share_transaction, index|
            %tr
              %td.text-center= pagination_count + index
              %td.text-center= ad_to_bs_string(share_transaction.date)
              %td.text-center= share_transaction.contract_no
              %td.text-center= "#{share_transaction.isin_info.isin}<br>(#{share_transaction.isin_info.company})".html_safe
              %td.text-center= share_transaction.client_account.name_and_nepse_code
              %td.text-center= share_transaction.bill.present? ? share_transaction.bill.full_bill_number : 'N/A'
              %td.text-center= share_transaction.selling? ? share_transaction.buyer : share_transaction.seller
              %td.quantity-in.text-right= arabic_number_integer(share_transaction.quantity) if share_transaction.buying?
              %td.quantity-out.text-right= arabic_number_integer(share_transaction.quantity) if share_transaction.selling?
              %td.text-right= arabic_number_integer(share_transaction.share_rate)
              %td.text-right= arabic_number_integer(share_transaction.isin_info.last_price)
              %td.text-right= arabic_number_integer(share_transaction.share_amount)
              %td.text-right= arabic_number(share_transaction.commission_amount)

    - if !share_transactions || share_transactions.empty?
      %div.row.text-center.top-buffer-md
        There are no matching share transactions.

  = render 'shared/pagination', collection_to_paginate: share_transactions
