-#This view is called by #index action.
%div#filterrific_results

  - if share_transactions
    %div.bottom-buffer-sm
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
          Download
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Excelsheet', @download_path_xlsx
          %li
            = link_to 'PDF', @download_path_pdf, :target => "_blank"
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-print{"aria-hidden" => "true"}
          Print
          %span.caret
        %ul.dropdown-menu
          %li
            %a
              %span.btnPrintPDF.btnPrintShareTransactionListPDFRegular{:"data-download-url" => URI.unescape(@print_path_pdf_in_regular)}
                %span
                  in Regular
                = image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'share-transaction-print-regular-spinner')
                %iframe.hidden-iframe#iframe-for-share-transaction-pdf-regular-print
          %li
            %a
              %span.btnPrintPDF.btnPrintShareTransactionListPDFLetterhead{:"data-download-url" => URI.unescape(@print_path_pdf_in_letter_head)}
                %span
                  in Letterhead
                = image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'share-transaction-print-letterhead-spinner')
                %iframe.hidden-iframe#iframe-for-share-transaction-pdf-letterhead-print
      - if @transaction_date.present?
        = link_to "Create Transaction Message", create_multiple_transaction_messages_path(transaction_date: @transaction_date), {data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Creating..." } , method: :post, class: "btn btn-sm btn-default"}

  = render 'shared/pagination', collection_to_paginate: share_transactions

  %div#share_transaction_list.table-responsive
    - if client_account
      .highlighted-box
        %h3.no-margin="Share Transaction details for #{client_account.name_and_nepse_code}"
    %table.table.table-striped
      %thead
        %th.text-center= 'SN'
        %th.text-center= 'Transaction<br>Date'.html_safe
        %th.text-center= 'Transaction No'
        - unless params[:group_by_company] == 'true'
          %th.col-sm-2.text-center= 'Company'
        - unless client_account
          %th.text-center= 'Client'
        %th.text-center= 'Bill No'
        %th.text-center= 'Broker'
        %th.text-center= 'Qty<br>In'.html_safe
        %th.text-center= 'Qty<br>Out'.html_safe
        %th.text-center= 'Rate'
        %th.text-center= 'Current<br>Market<br>Rate'.html_safe
        %th.text-center= 'Amount'
        %th.text-center= 'Comission'
      %tbody
        -if share_transactions
          -pagination_count = kaminari_serial_number(params[:page], share_transactions.limit_value)
          :ruby
            total_sale_quantity = 0
            total_buy_quantity = 0
            total_amount = 0
            total_commission = 0
          -share_transactions.each_with_index do |share_transaction, index|
            %tr
              %td.text-center= pagination_count + index
              %td.text-center= ad_to_bs_string(share_transaction.date)
              %td.text-center= share_transaction.contract_no
              - unless params[:group_by_company] == 'true'
                %td.text-center= "#{share_transaction.isin_info.isin}<br>(#{share_transaction.isin_info.company})".html_safe
              - unless client_account
                %td.text-center= share_transaction.client_account.name_and_nepse_code
              %td.text-center= share_transaction.bill.present? ? share_transaction.bill.full_bill_number : 'N/A'
              %td.text-center= share_transaction.selling? ? share_transaction.buyer : share_transaction.seller
              %td.quantity-in.text-right= arabic_number_integer(share_transaction.quantity) if share_transaction.buying?
              %td.quantity-out.text-right= arabic_number_integer(share_transaction.quantity) if share_transaction.selling?
              %td.text-right= arabic_number_integer(share_transaction.share_rate)
              %td.text-right= arabic_number_integer(share_transaction.isin_info.last_price)
              %td.text-right= arabic_number_integer(share_transaction.share_amount)
              %td.text-right= arabic_number(share_transaction.commission_amount)

              :ruby
                total_sale_quantity += share_transaction.quantity if share_transaction.selling?
                total_buy_quantity += share_transaction.quantity if share_transaction.buying?
                total_amount += share_transaction.share_amount
                total_commission += share_transaction.commission_amount

            -# Logic for adding total row for groups of companies in the listing.
            -break_group = false
            :ruby
              # Check if current isin is the last one in the overall (non-paginated) share_transaction.
              # If it is, break group and insert a total row.
              if params[:group_by_company] == "true" &&  @grouped_isins_serialized_position_hash[share_transaction.isin_info_id] == (share_transactions.offset_value + index + 1)
                break_group = true
              end
              if break_group
                isin_balances = ShareTransaction.quantity_flows_for_isin(@filterrific, share_transaction.isin_info_id)
              end
              #making sure the column counts remain same
              colspan = (client_account.present? && params[:group_by_company] == "true") ? 4 : ((client_account.present? || params[:group_by_company] == "true") ? 5 : 6)

            - if break_group
              %tr.total-row
                %td.text-right{colspan: colspan}= "Company: #{share_transaction.isin_info.isin}<br>(#{share_transaction.isin_info.company})".html_safe
                %td.text-right= 'Total'
                %td.text-right= "Qty<br>In:<br>#{isin_balances[:total_in_sum].to_i}".html_safe
                %td.text-right= "Qty<br>Out:<br>#{isin_balances[:total_out_sum].to_i}".html_safe
                %td.text-right{colspan: 2}= "Qty<br>Balance:<br>#{isin_balances[:balance_sum].to_i}".html_safe
                %td.text-right= "Amount<br>Balance:<br>#{arabic_number(isin_balances[:balance_share_amount].to_i)}".html_safe
                %td.text-right= ""

          -# Logic to add share transaction listing's total row.
          -if params[:paginate] == 'false'
            %thead
              %th.text-right{:colspan => 7}= 'Total'
              %th.text-center= arabic_number_integer(total_buy_quantity)
              %th.text-center= arabic_number_integer(total_sale_quantity)
              %th
              %th
              %th.text-center= arabic_number(total_amount)
              %th.text-center= arabic_number(total_commission)

    - if share_transactions.blank?
      %div.row.text-center.top-buffer-md
        There are no matching share transactions.

  = render 'shared/pagination', collection_to_paginate: share_transactions
