%div.threshold-report#filterrific_results

  - if share_transactions
    %div.bottom-buffer-sm
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
          Download
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'PDF', @download_path_pdf, :target => "_blank"
          %li
            = link_to 'PDF for Letter Head', @download_path_pdf_for_letter_head, :target => "_blank"

  -if share_transactions
    %div.text-center
      %h4
        %strong
          -#=t('annexure', :locale => :np)
          -#=t('number.one', :locale => :np)
          Annexure 1

      %h4
        %strong
          -#=t('threshold_transaction_detail', :locale => :np)
          = t('threshold_transaction_detail', :locale => :en)
      %h4
        %strong
          -#= t('informer_name', :locale => :np)
          = t('informer_name', :locale => :en)
          \:
          = current_tenant.full_name

  %div#share_transaction_list
    %table.table.table-striped
      %thead
        -#%th.col-1= t('serial_no', :locale => :np)
        -#%th.col-10= t('dmat_no', :locale => :np)
        -#%th.col-2= t('name_of_buyer_seller', :locale => :np)
        -#%th.col-3= t('occupation', :locale => :np)
        -#%th.col-4= t('branch_if_any', :locale => :np)
        -#%th.col-5= t('transaction_date', :locale => :np)
        -#%th.col-6= t('transaction_type', :locale => :np)
        -#%th.col-7= t('transaction_amount', :locale => :np)
        -#%th.col-8= t('source_of_fund', :locale => :np)
        -#%th.col-9= t('remarks', :locale => :np)
        %th.col-1= t('serial_no', :locale => :en)
        %th.col-10= t('dmat_no', :locale => :en)
        %th.col-2= t('name_of_buyer_seller', :locale => :en)
        %th.col-3= t('occupation', :locale => :en)
        %th.col-4= t('branch_if_any', :locale => :en)
        %th.col-5= t('transaction_date', :locale => :en)
        %th.col-6= t('transaction_type', :locale => :en)
        %th.col-7= t('transaction_amount', :locale => :en)
        %th.col-8= t('source_of_fund', :locale => :en)
        %th.col-9= t('remarks', :locale => :en)
      %tbody
        -if share_transactions
          -pagination_count = kaminari_serial_number(params[:page], share_transactions.limit_value)
          -share_transactions.each_with_index do |share_transaction, index|
            %tr
              %td.text-center= pagination_count + index
              %td.text-center= share_transaction.client_account.try(:boid) 
              %td.text-center= share_transaction.client_account.try(:name).titleize
              %td= share_transaction.client_account.try(:profession_code)
              %td
              %td.text-right= ad_to_bs_string(share_transaction.date)
              %td.text-center= share_transaction.unique_types
              %td.text-right= arabic_number(share_transaction.grouped_amount)
              %td
              %td

    - if share_transactions.blank?
      %div.row.text-center.top-buffer-md
        There are no matching share transactions.

