-#This view is called by #index action.
%div#filterrific_results.glike-action-container

  - if share_transactions
    %div.bottom-buffer-sm
      .btn-group
        %button.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-download-alt{"aria-hidden" => "true"}
          Download
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Excelsheet', @download_path_xlsx
          %li
            = link_to 'PDF', @download_path_pdf, :target => "_blank"
    %br

  = render 'shared/pagination', collection_to_paginate: share_transactions

  %div#share_transaction_list.items-to-act-container

    -if share_transactions
      #closeout-transactions{ share_transactions: share_transactions.map{|x| x.as_json.to_json }}
    - if !share_transactions || share_transactions.empty?
      %div.row.text-center.top-buffer-md
        There are no matching share transactions.

  = render 'shared/pagination', collection_to_paginate: share_transactions

= javascript_pack_tag 'CloseoutApp', 'data-turbolinks-track': 'false'
