%td= object.isin_info.name_and_code
%td= object.client_account.name_and_nepse_code
%td= object.selling? ? object.buyer : object.seller
%td.text-right= object.quantity
%td.text-right= object.share_rate
%td.text-right= object.base_price.to_i.round(1)
%td.text-right= object.cgt.round(2)
