%td= object.isin_info.company
%td= object.client_account.name
%td= object.quantity
%td= object.share_rate

%td.actions= smart_listing_item_actions [{name: :destroy, url: share_transaction_path(object), confirmation: "Are you sure you want to delete this?"}]
