<!--
TODO
  -All Transaction should be grouped as per their isin_info_id .
    -Implement Collapse/Expand
  -All Transactions of a client grouped by isins
 -->
<% provide(:section_title, "Share Inventory Report") %>
<div class="clearfix submenu" >
  <h5>
    <%= link_to "All Share Transactions",  share_transactions_path %>  |
    <%= link_to "Search by Clients",  share_transactions_path(search_by: "client") %>
  </h5>
</div>


<div class="clearfix search-form">
  <%
  if params[:search_by] == 'client'
    %>
    <%= form_tag(share_transactions_path, :method => "get", id: "search-form") do %>
    <%= hidden_field_tag :search_by, "client" %>
    <!--  TODO: Implement selected -->
    <div class="form-group">
      <%= select_tag "search_term", options_from_collection_for_select(@clients, 'id', 'name'), class: 'form-control combobox' %>
    </div>

    <%= submit_tag "Search", class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

<% if @share_transactions.empty? && params[:commit]=='Search' %>
<div>
  There are no Share Transactions for the selected client.
</div>
<% elsif #!@share_transactions.empty? %>
<div>
</div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Contract No </th>
      <th>Company</th>
      <th>Quantity in</th>
      <th>Quantity out</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>Commission</th>
    </tr>
  </thead>

  <tbody>
    <% @share_transactions.each do |share_transaction| %>
      <tr>
        <td><%= share_transaction.date %></td>
        <td><%= share_transaction.contract_no %></td>
        <td><%= share_transaction.isin_info.company %></td>
        <td class='quantity-in'><%= share_transaction.quantity  if share_transaction.buy? %></td>
        <td class='quantity-out'><%= share_transaction.quantity if share_transaction.sell? %></td>
        <td><%= share_transaction.share_rate %></td>
        <td><%= share_transaction.share_amount %></td>
        <td><%= share_transaction.commission_amount %></td>
      </tr>
    <% end %>
    <tr class="total-show"></tr>
  </tbody>
</table>
<% end %>
