<%= simple_form_for(@ledger) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  </div>
  <div class="form-inputs">
  	<%= f.collection_select(:group_id, Group.all, :id, :name,{},{:class=>'input-control'}) %>
  </div>
  <div class="form-inputs row">
    <br><br>
    <div class="col-xs-3"><%= f.input :opening_blnc %></div>
    <div class="col-xs-3"><p><strong>Type </strong></p><%= f.select :opening_blnc_type, options_for_select(Particular.transaction_type) %></div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>