<%= simple_form_for(@ledger) do |f| %>
    <%= f.error_notification %>
    <div class="has-error">
      <%=   f.error :base %>
    </div>

    <div class="form-inputs row">
      <div class="col-xs-6">
        <%= f.input :name %>
      </div>

    </div>
    <div class="form-inputs row">
      <div class="col-xs-3">
        <%= f.input :group_id, label: '* Group' do %>
            <%= f.collection_select(
                    :group_id,
                    Group.all.order(:name),
                    :id,
                    :name,
                    {
                        include_blank: true
                    },
                    {
                        :class => 'form-control combobox combobox-select',
                        'data-placeholder': '- None -',
                    }
                )
            %>
        <% end %>

        <%= f.association :vendor_account,
                          collection: VendorAccount.order(:name),
                          :input_html => {
                              :class => 'combobox combobox-select',
                              :autocomplete => 'off',
                              'data-placeholder': '- None -',
                          },
                          include_blank: true
        %>
      </div>

    </div>
  
    <h4>Opening Balance</h4>
    <%= f.fields_for :ledger_balances, f.object.unscoped_ledger_balances(UserSession.selected_fy_code, UserSession.selected_branch_id) do |p| %>
        <% if p.object.branch_id.present? %>
          <%= render :partial => 'ledger_balance_fields', :locals => {:f => p } %>

        <% end %>
    <% end %>
    <%= link_to_add_fields "Add Ledger Balance", f, :ledger_balances %>
    <br><br>
    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to "Cancel", @ledger, class: 'btn btn-danger btn-flat' %>
    </div>
    <br><br>
<% end %>
