<%= simple_form_for(@ledger) do |f| %>
    <%= f.error_notification %>
    <%= hidden_field_tag 'can_edit_balance', @can_edit_balance %>
    <div class="form-inputs row">
      <div class="col-xs-6">
        <%= f.input :name %>
      </div>

    </div>
    <div class="form-inputs row">
      <div class="col-xs-3">
        <%= f.input :group_id, label: '* Group' do %>
            <%= f.collection_select(
                    :group_id,
                    Group.all.order(:name),
                    :id,
                    :name,
                    {
                        include_blank: true
                    },
                    {
                        :class => 'form-control combobox combobox-select',
                        'data-placeholder': '- None -',
                    }
                )
            %>
        <% end %>

        <%= f.association :vendor_account,
                          collection: VendorAccount.order(:name),
                          :input_html => {
                              :class => 'combobox combobox-select',
                              :autocomplete => 'off',
                              'data-placeholder': '- None -',
                          },
                          include_blank: true
        %>
      </div>

    </div>

    <% if can_edit_balance %>
        <h4>Opening Balance</h4>
        <%= f.fields_for :ledger_balances do |p| %>
            <%= render :partial => 'ledger_balance_fields', :locals => {:f => p } %>
        <% end %>
        <%= link_to_add_fields "Add Ledger Balance", f, :ledger_balances %>

    <% end %>
    <br><br>
    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to "Cancel", @ledger, class: 'btn btn-danger btn-flat' %>
    </div>
    <br><br>
<% end %>
