<%= simple_form_for(@ledger) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :group_id do %>
		  <%= f.collection_select(:group_id, Group.all, :id, :name,{prompt: 'Select a group...'},{:class=>'form-control combobox'}) %>
		<% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
