<div class="row particular">
  <div class="col-xs-5"><%= f.input :opening_balance, input_html: { value: f.object.formatted_opening_balance },label:false %></div>
  <%= f.hidden_field(:current_user_id, value: current_user.id)%>
  <div class="col-xs-2">
    <%= f.select :opening_balance_type,
                 options_for_select(
                     LedgerBalance.opening_balance_types.keys.to_a,
                     f.object.opening_balance_type
                 )
    %>
  </div>
  <div class="col-xs-4">
    <%= f.input :branch_id , label: false do %>
        <%= f.select :branch_id, available_branches.all.map { |r| [r.code, r.id, { class: 'form-control' }] }, selected: f.object.branch_id || UserSession.selected_branch_id, include_blank: false %>
    <% end %>
  </div>
  <div class="col-xs-1">
    <label><strong>&nbsp; </strong></label>
    <%= link_to '<i class="fa fa-times" aria-hidden="true"></i>'.html_safe, '#', class: 'removeThisParticular btn btn-danger btn-flat lighter', data: { toggle: "tooltip", placement: "top", title: "Remove"} %>
  </div>
</div>