<% provide(:section_title, "List of Ledgers") %>
<%= link_to 'New Ledger', new_ledger_path %>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= ledger.name %></td>
        <td><%= link_to 'Show', ledger %> | <%= link_to 'Edit', edit_ledger_path(ledger) %> |
            <%= link_to 'Destroy', ledger, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
