<% provide(:section_title, "Ledgers") %>


<div class="clearfix submenu" >
  <%
    def is_active_sub_menu_option(option)
      return params[:search_by] == option || params[:show] == option
    end
  %>
  <h5>
    <%= link_to 'Searcy by Ledger Name',  ledgers_path(search_by: "ledger_name"), {:class => (is_active_sub_menu_option("ledger_name")? "active-link" : "")} %> |
    <%= link_to "All Ledgers",  ledgers_path(show: "all"), {:class => (is_active_sub_menu_option("all")? "active-link" : "")} %>  |
    <%= link_to "All Internal Ledgers",  ledgers_path(show: "all_internal"), {:class => (is_active_sub_menu_option("all_internal")? "active-link" : "")} %> |
    <%= link_to "All Client Ledgers",  ledgers_path(show: "all_client"), {:class => (is_active_sub_menu_option("all_client")? "active-link" : "")} %> |
    <%= link_to 'New Ledger', new_ledger_path %>
  </h5>
</div>


<div class="clearfix search-form">
  <%
  if params[:search_by] == 'ledger_name'
    %>
    <%= form_tag(ledgers_path, :method => "get", id: "search-form") do %>
    <%= hidden_field_tag :search_by, "ledger_name" %>
    <%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Ledger Name", :autofocus => true  %>
    <%= submit_tag "Search" %>
    <% end %>
  <% end %>
</div>

<div class="text-center">
  <% unless @ledgers.blank? %>
      <%= paginate @ledgers, :theme => 'twitter-bootstrap-3'%>
      <div class="text-center">
        <%= page_entries_info @ledgers%>
      </div>
  <% end %>
</div>

<% # OPTIMIZE Incorporate search term specific message %>
<% if !params[:search_by].blank? && !params[:commit].blank? && !@ledgers.present? %>
<% if params[:search_by] == 'ledger_name'  %>
<p>There are no ledgers matching the name '<%= params[:search_term] %>'.</p>
<% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% if !@ledgers.empty?
      @ledgers.each do |ledger| %>
      <tr>
        <td><%= ledger.name.titleize %></td>
        <td>
        <%= link_to 'Show', ledger %>
        <% if ledger.client_account_id.present? %>
              <% if ledger.client_account.bills.requiring_receive.present? %>
                | <%= link_to 'Process Purchase Bills', new_voucher_path(voucher_type: 'sales', client_account_id: ledger.client_account_id) %>
                  <% end %>
              <% if ledger.client_account.bills.requiring_payment.present? %>
                | <%= link_to 'Process Sales Bills', new_voucher_path(voucher_type: 'purchase', client_account_id: ledger.client_account_id) %>
              <% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<div class="text-center">
  <% unless @ledgers.blank? %>
  <%= paginate @ledgers, :theme => 'twitter-bootstrap-3'%>
  <div class="text-center">
    <%= page_entries_info @ledgers%>
  </div>
  <% end %>
</div>