<p id="notice"><%= notice %></p>
<h3><%= @ledger.name %></h3>
<h4><%= "Opening Balance:  #{number_to_currency(@ledger.opening_blnc.abs)} #{@ledger.opening_blnc >= 0 ? 'dr': 'cr'}" %></h4>
<br><br>
<% if @particulars.count > 0 %>
<div class= "box box-warning">
<div class="box-header with-border">
	<div class="row">
		<div class="col-xs-3"><h4>Particulars</h4></div>
		<div class="col-xs-3">
			<div class="col-xs-12"><h4>Transaction Amount</h4></div>
			<div class="col-xs-6"><h5>Dr</h5></div>
			<div class="col-xs-6"><h5>Cr</h5></div>
		</div>
		<div class="col-xs-3">
			<div class="col-xs-12"><h4>Balance</h4></div>
			<div class="col-xs-6"><h5>Dr</h5></div>
			<div class="col-xs-6"><h5>Cr</h5></div>
		</div>
	</div>
</div>	
<div class="box-body">




<% @particulars.each do |particular| %>
	<div class="row">
		<div class="col-xs-3">
			<%= particular.name.blank? == true ? "as per details" : particular.name 	 %>
		</div>
		<div class="col-xs-3">
			<div class="col-xs-6"><%= number_to_currency(particular.trn_type.to_i == Particular.trans_types['dr'] ? particular.amnt : "" ) %></div>
			<div class="col-xs-6"><%= number_to_currency(particular.trn_type.to_i == Particular.trans_types['cr'] ? particular.amnt : "" ) %></div>
			
		</div>
		<div class="col-xs-3">
			<div class="col-xs-6"><%= number_to_currency(particular.running_blnc >= 0 ? particular.running_blnc : "" ) %></div>
			<div class="col-xs-6"><%= number_to_currency(particular.running_blnc < 0 ? particular.running_blnc.abs : "" ) %></div>
			
		</div>
	</div>
	<br><br>
<% end %>
</div>
</div>
<% end %>
<h4><%= "Closing Balance: #{number_to_currency(@ledger.closing_blnc.abs)} #{@ledger.closing_blnc >= 0 ? 'dr': 'cr'}" %></h4>



<%= link_to 'Edit', edit_ledger_path(@ledger) %> |
<%= link_to 'Back', ledgers_path %>