<p id="notice"><%= notice %></p>
<h3><%= @ledger.name.titleize %></h3>
<h4><%= "Opening Balance:  #{number_to_currency(@ledger.opening_blnc.abs)} #{@ledger.opening_blnc >= 0 ? 'dr': 'cr'}" %> | <%= "Closing Balance: #{number_to_currency(@ledger.closing_blnc.abs)} #{@ledger.closing_blnc >= 0 ? 'dr': 'cr'}" %></h4>

<div class="clearfix submenu" >
  <%
    def is_active_sub_menu_option(option)
      return params[:search_by] == option
    end
  %>
  <h5>
    <%= link_to "Search by Date Range",  ledger_path(@ledger, search_by: "date_range"), {:class => (is_active_sub_menu_option("date_range")? "active-link" : "")} %> |
    <%= link_to "View all",  ledger_path(@ledger), {:class => (is_active_sub_menu_option("")? "active-link" : "")} %>
  </h5>
</div>

<div class="clearfix search-form">

  <% if params[:search_by] == 'date_range'
  %>
  <%= form_tag(ledger_path(@ledger), :method => "get", id: "search-form") do %>
      <%= hidden_field_tag :search_by, "date_range" %>
      <%
        text_field_value_1 = params[:search_term]['date_from'] unless params[:search_term].blank?
        text_field_value_2 = params[:search_term]['date_to'] unless params[:search_term].blank?
      %>
      <%= text_field_tag "search_term[date_from]", text_field_value_1, placeholder: "Date from" %>
      <%= text_field_tag "search_term[date_to]", text_field_value_2, placeholder: "Date to" %>
      <%= submit_tag "Search" %>
  <% end %>
  <% end %>
</div>

<% if !params[:search_by].blank? && !params[:commit].blank? && !@particulars.present? %>
    <% if params[:search_by] == 'date_range'  %>
        <p>There are no particulars matching the date range '<%= params[:search_term]['date_from'] %>' to '<%= params[:search_term]['date_to'] %>'.</p>
    <% end %>
<% end %>

<div class="text-center">
  <% unless @particulars.blank? %>
      <%= paginate @particulars, :theme => 'twitter-bootstrap-3'%>
      <div class="text-center">
        <%= page_entries_info @particulars %>
      </div>
  <% end %>
</div>


<% if @particulars.present? %>
    <% if @opening_blnc_sorted.present? %>
    <p><%= "Opening Balance:  #{number_to_currency(@opening_blnc_sorted.abs)} #{@opening_blnc_sorted >= 0 ? 'dr': 'cr'}" %> | <%= "Closing Balance: #{number_to_currency(@closing_blnc_sorted.abs)} #{@closing_blnc_sorted >= 0 ? 'dr': 'cr'}" %></p>
    <% end %>
<div class= "box box-warning">
	<div class="box-body ledger">
	<table class="table">
		<tr>
			<th class="text-center">Date</th>
			<th class="text-center">Particulars</th>
			<th class="text-center">Bill</th>
      <th class="text-center">Cheque</th>
			<th class="text-center">Pay / Receipt No</th>
			<th colspan=2>
				<div class="col-xs-12"><p class="text-center">Transaction Amount</p></div>
				<div class="col-xs-6"><p>Dr</p></div>
				<div class="col-xs-6"><p>Cr</p></div>
			</th>
			<th colspan=2>
				<div class="col-xs-12"><p class="text-center">Balance</p></div>
				<div class="col-xs-6"><p>Dr</p></div>
				<div class="col-xs-6"><p>Cr</p></div>
			</th>
		</tr>
		<colgroup>
			<col class="col-1">
			<col class="col-2">
			<col class="col-3">
			<col class="col-4">
			<col class="col-5">
			<col class="col-6">
			<col class="col-7">
			<col class="col-8">
      <col class="col-9">
		</colgroup>
		<% @particulars.each do |particular| %>
			<tr>
				<td><%= particular.date_bs %></td>
				<td><% name = particular.get_description 	 %><%= link_to name, voucher_path(particular.voucher) , remote: true %></td>
				<td>
          <!--TODO incorporate all bills -->
					<% if particular.bills.count > 0 %>
              <% particular.bills.each do |bill| %>
                  <%= link_to "#{bill.fy_code}-#{bill.bill_number}", bill_path(bill) , remote: true  %> <br>
					    <% end %>
					<% end %>
				</td>
        <td>
          <%= link_to particular.voucher.cheque_entries.first.cheque_number, cheque_entry_path(particular.voucher.cheque_entries.first.id) if particular.voucher.cheque_entries.size >0 %>
        </td>
				<td>
          <% if particular.voucher.settlements.size > 0 %>
                <% particular.voucher.settlements.each do |settlement| %>
                    <%= link_to "#{settlement.id }", settlement_path(settlement.id) , remote: true  %><br>
                <% end %>
          <% end %>

				<td class='text-right'><%= number_to_currency((particular.dr?) ? particular.amnt : "" ) %></td>
				<td class='text-right'><%= number_to_currency((particular.cr?)? particular.amnt : "" ) %></td>
				<td class='text-right'><%= number_to_currency(particular.running_blnc >= 0 ? particular.running_blnc : "" ) %></td>
				<td class='text-right'><%= number_to_currency(particular.running_blnc < 0 ? particular.running_blnc.abs : "" ) %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
<% end %>



<%= link_to 'Edit', edit_ledger_path(@ledger) %> |
<%= link_to 'Back', ledgers_path %>
