<% provide(:section_title, "Reports: Profit and Loss") %>
<%
    @date = ad_to_bs_string(Date.today)
%>
<%= form_tag(report_profitandloss_index_path, :method => "get", id: "search-form") do %>
    <h4>Select the level</h4>
    <div class="row">

      <div class="col-xs-2">
        <%= select_tag "drill_level", options_for_select([ 1,2,3,4 ], @selected_drill_level) %>
      </div>
      <div class="col-xs-2"><%= submit_tag "Go", class: 'btn btn-default' %></div>

    </div>
<% end %>
<br>
<h2 class="text-center"><%= current_tenant.full_name %></h2>
<h3 class="text-center">Profit and Loss Account</h3>
<h4 class="text-center">for the period end <%= @date %></h4>
<br>
<br>

<table class="table balancesheet-report">
  <tr>
    <td class='col-xs-6'>
      <div class="col-xs-6"><strong>Particulars</strong></div>
      <div class="col-xs-6 text-right"><strong>Amount(in Rs)</strong></div>
    </td>
    <td class='col-xs-6'>
      <div class="col-xs-6"><strong>Particulars</strong></div>
      <div class="col-xs-6 text-right"><strong>Amount(in Rs)</strong></div>
    </td>
  </tr>
  <tr>
    <td class='col-xs-6'>
      <% @loss.each do |name,hash| %>
          <%= render partial: 'report/group_balancesheet', locals: {name: name, hash: hash, credit: false} %>
      <% end %>
      <% if @amount < 0 %>
        <div class="row box-equivalent">
          <div class="col-xs-6">Profit</div>
          <div class="col-xs-6 text-right"><%= number_to_currency(@amount.abs) %></div>
        </div>
      <% end %>
    </td>

    <td class='col-xs-6'>
      <% @profit.each do |name,hash| %>
          <%= render partial: 'report/group_balancesheet', locals: {name: name, hash: hash, credit: true} %>
      <% end %>
      <% if @amount > 0 %>
        <div class="row box-equivalent">
          <div class="col-xs-6">Loss</div>
          <div class="col-xs-6 text-right"><%= number_to_currency(@amount) %></div>
        </div>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      <div class="row box-equivalent">
        <div class="col-xs-6"><strong>Total</strong></div>
        <div class="col-xs-6 text-right"><strong><%= number_to_currency(@loss_total) %></strong></div>
      </div>
    </td>
    <td>
      <div class="row box-equivalent">
        <div class="col-xs-6"><strong>Total</strong></div>
        <div class="col-xs-6 text-right"><strong><%= number_to_currency(@profit_total> 0 ? @profit_total * -1 : @profit_total.abs) %></strong></div>
      </div>
    </td>
  </tr>

</table>
