<% provide(:section_title, "Reports: Profit and Loss") %>
<% @cal = NepaliCalendar::Calendar.new
    # abort('asd')

    @date = @cal.ad_to_bs(Date.today.strftime("%Y").to_s, Date.today.strftime("%m").to_s, Date.today.strftime("%d").to_s)
%>

<h2 class="text-center"><%= current_tenant.full_name %></h2>
<h3 class="text-center">Profit and Loss Account</h3>
<h4 class="text-center">for the period end <%= @date %></h4>
<br><br>
<table class="table">
  <tr>
    <td class='col-xs-6'>
      <div class="col-xs-6"><strong>Particulars</strong></div>
      <div class="col-xs-6 text-right"><strong>Amount(in Rs)</strong></div>
    </td>
    <td class='col-xs-6'>
      <div class="col-xs-6"><strong>Particulars</strong></div>
      <div class="col-xs-6 text-right"><strong>Amount(in Rs)</strong></div>
    </td>
  </tr>
  <tr>
    <td class='col-xs-6'>
      <% @loss.each do |assets| %>
        <div class="col-xs-6"><%= assets[0] %></div>
        <div class="col-xs-6 text-right"><%= number_to_currency(assets[1]) %></div>
      <% end %>
      <% if @amount < 0 %>
        <div class="col-xs-6">Profit</div>
        <div class="col-xs-6 text-right"><%= number_to_currency(@amount.abs) %></div>
      <% end %>
    </td>

    <td class='col-xs-6'>
      <% @profit.each do |assets| %>
        <div class="col-xs-6"><%= assets[0] %></div>
        <div class="col-xs-6 text-right"><%= number_to_currency(assets[1] > 0 ? assets[1] * -1 : assets[1].abs) %></div>
      <% end %>
      <% if @amount > 0 %>
        <div class="col-xs-6">Loss</div>
        <div class="col-xs-6 text-right"><%= number_to_currency(@amount) %></div>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      <div class="col-xs-6"><strong>Total</strong></div>
      <div class="col-xs-6 text-right"><strong><%= number_to_currency(@loss_total) %></strong></div>
    </td>
    <td>
      <div class="col-xs-6"><strong>Total</strong></div>
      <div class="col-xs-6 text-right"><strong><%= number_to_currency(@profit_total> 0 ? @profit_total * -1 : @profit_total.abs) %></strong></div>
    </td>
  </tr>

</table>
