<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for(@bank_account) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.association :bank,
                            collection: Bank.order(:name),
                            label_method: :code_and_name,
                            :input_html => {
                                include_blank: true,
                                :class => 'combobox',
                                :id => 'new_bank_accounts_combobox',
                                :autocomplete => 'off',
                                'data-placeholder': '- Select a bank -'
                            }
          %>
          <%= f.input :account_number %>
          <%= f.input :bank_branch %>
          <%= f.input :contact_no %>
          <%= f.input :address %>
          <%= f.input :default_for_receipt %>
          <%= f.input :default_for_payment %>
          <%= f.input :branch_id, :as => :hidden ,:input_html => {:value => f.object.branch_id || @selected_branch_id } %>

          <h3>Opening Balance</h3>
            <%= f.fields_for :ledger do |p| %>
              <%= p.input :group_id, :as => :hidden ,:input_html => {:value => @group_id } %>
                <%= p.fields_for :ledger_balances do |lb| %>
                  <%= lb.hidden_field(:current_user_id, value: current_user.id)%>
                  <div class="row particular">
                    <div class="col-xs-5"><%= lb.input :opening_balance, label:false %></div>
                    <div class="col-xs-2">
                      <%= lb.select :opening_balance_type,
                                   options_for_select(
                                       LedgerBalance.opening_balance_types.keys.to_a,
                                       lb.object.opening_balance_type
                                   )
                      %>
                    </div>
                    <div class="col-xs-4">
                      <%= lb.input :branch_id, :as => :hidden, :input_html => {:value => lb.object.branch_id  || @selected_branch_id } %>
                      <%= lb.collection_select(:branch_id, available_branches.all, :id, :code,{ selected: lb.object.branch_id  || @selected_branch_id}, {:class => 'form-control ', disabled: true}) %>
                    </div>
                  </div>
                <% end %>
            <% end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
  </div>
</div>
