<%= simple_form_for(@bank_account) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :bank ,:input_html => { :class => 'combobox'} %>

      <%= f.input :account_number %>
      <%= f.input :default_for_sales %>
      <%= f.input :default_for_purchase %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>