<!-- <p id="notice"><%= notice %></p> -->
<% provide(:section_title, "Bank Accounts") %>
<% if @bank_accounts.present? %>
  <%= link_to 'New Bank account', new_bank_account_path %>
  <table class="table">
    <thead>
    <tr>
      <th>Bank </th>
      <th>Account Number</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @bank_accounts.each do |bank_account| %>
        <tr>
          <td><%= bank_account.bank.code_and_name %></td>
          <td><%= bank_account.account_number %></td>
          <td><%= link_to 'Show', bank_account %></td>
          <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <p class="text-muted">No Bank Accounts created yet.</p>
  <%= link_to 'New Bank account', new_bank_account_path %>
<% end %>

<br>

