<!-- <p id="notice"><%= notice %></p> -->
<% provide(:section_title, "Bank Accounts") %>
<%= link_to 'New Bank account', new_bank_account_path %>
<table class="table">
  <thead>
  <tr>
    <th>Bank Name</th>
    <th>Account Number</th>
  </tr>
  </thead>

  <tbody>
  <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.bank.name %></td>
        <td><%= bank_account.account_number %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

