<p id="notice"><%= notice %></p>
<p>Name: <strong><%= @bank_account.bank.bank_code_and_name %></strong></p>
<p>Account Number:
  <strong><%= @bank_account.account_number %></strong>
</p>
<p>Bank Address:
  <strong><%= @bank_account.bank.address %></strong>
</p>
<p>Contact Number:
  <strong><%= @bank_account.bank.contact_no %></strong>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %> |
<%= link_to 'Make Cheque Entry', new_cheque_entry_path(bank_account_id: @bank_account.id) %>
