<p id="notice"><%= notice %></p>
<p>Name: <strong><%= @bank_account.bank.code_and_name %></strong></p>
<p>Account Number:
  <strong><%= @bank_account.account_number %></strong>
</p>
<p>Bank Address:
  <strong><%= @bank_account.bank.address %></strong>
</p>
<p>Contact Number:
  <strong><%= @bank_account.bank.contact_no %></strong>
</p>
<p>Default for Payment:
  <strong><%= @bank_account.default_for_payment.to_s.humanize %></strong>
</p>
<p>Default for Receipt:
  <strong><%= @bank_account.default_for_receipt.to_s.humanize %></strong>
</p>
<p>Default for Esewa Receipt:
  <strong><%= @bank_account.default_for_esewa_receipt.to_s.humanize %></strong>
</p>
<p>Default for Nchl Receipt:
  <strong><%= @bank_account.default_for_nchl_receipt.to_s.humanize %></strong>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %> |
<%= link_to 'Make Cheque Entry', new_cheque_entry_path(bank_account_id: @bank_account.id) %>
