- provide(:section_title, "Upload Edis Report File")
= simple_form_for(@edis_item_form, url: process_import_edis_items_path) do |f|
  = f.error_notification

  .row
    .col-sm-4
      .form-group

        .form-inputs
          = f.input :current_user_id, as: :hidden, input_html: { value: current_user.id }
          = f.input :file, as: :file
          = f.input :skip_invalid_transactions, as: :boolean

  .form-actions
    = f.button :submit, "Upload"
