- provide(:section_title, "Broker Profile")

- unless MasterSetup::BrokerProfile.has_profile_in(:english)
  %div
    = link_to 'Add Broker Profile (in English)', new_master_setup_broker_profile_path(locale: :english)
- unless MasterSetup::BrokerProfile.has_profile_in(:nepali)
  %div
    = link_to 'Add Broker Profile (in नेपाली )', new_master_setup_broker_profile_path(locale: :nepali)

- if @broker_profiles.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Broker name
        %th Broker number
        %th Phone number
        %th Fax number
        %th Pan number
        %th Language
        %th{:colspan => 3}
    %tbody
      - @broker_profiles.each do |broker_profile|
        %tr
          %td= broker_profile.broker_name
          %td= broker_profile.broker_number
          %td= broker_profile.phone_number
          %td= broker_profile.fax_number
          %td= broker_profile.pan_number
          %td= broker_profile.locale.titleize
          %td= link_to 'Show', broker_profile
          %td= link_to 'Edit', edit_master_setup_broker_profile_path(broker_profile)
