<p id="notice"><%= notice %></p>

<h1>Listing Sales Settlements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_settlements.each do |sales_settlement| %>
      <tr>
        <td><%= link_to 'Show', sales_settlement %></td>
        <td><%= link_to 'Edit', edit_sales_settlement_path(sales_settlement) %></td>
        <td><%= link_to 'Destroy', sales_settlement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales settlement', new_sales_settlement_path %>
