= simple_form_for(@isin_info) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company
    = f.input :isin
    = f.input :sector, as: :select, collection: IsinInfo.pluck(:sector).uniq.compact

  .form-actions
    = f.button :submit
