%p#notice= notice

%p
  %b Date from:
  = @master_setup_commission_rate.date_from
%p
  %b Date to:
  = @master_setup_commission_rate.date_to
%p
  %b Amount gt:
  = @master_setup_commission_rate.amount_gt
%p
  %b Amount lt eq:
  = @master_setup_commission_rate.amount_lt_eq
%p
  %b Rate:
  = @master_setup_commission_rate.rate
%p
  %b Is flat rate:
  = @master_setup_commission_rate.is_flat_rate
%p
  %b Remarks:
  = @master_setup_commission_rate.remarks

= link_to 'Edit', edit_master_setup_commission_rate_path(@master_setup_commission_rate)
\|
= link_to 'Back', master_setup_commission_rates_path
