<% provide(:section_title, "Reports: Trial Balance") %>
<%
  @date = ad_to_bs_string(Date.today)
%>
<div class="clearfix submenu">
  <%
    def is_active_sub_menu_option(option)
      return params[:search_by] == option
    end
  %>
  <h5>
    <%= link_to "Full Report", report_trial_balance_index_path(search_by: "all"), {:class => (is_active_sub_menu_option("all") ? "active-link" : "")} %>
    |
    <%= link_to "Search by Date", report_trial_balance_index_path(search_by: "date"), {:class => (is_active_sub_menu_option("date") ? "active-link" : "")} %>
  </h5>
</div>


<div class="clearfix search-form">
  <%
    if params[:search_by] == 'date'
  %>
      <%= form_tag(report_trial_balance_index_path, :method => "get", id: "search-form") do %>
          <%= hidden_field_tag :search_by, "date" %>
          <%= text_field_tag :search_term, params[:search_term], placeholder: "YYYY-MM-DD" %>
          <%= submit_tag "Search" %>
      <% end %>
  <% end %>
</div>

<% # OPTIMIZE Incorporate search term specific message %>
<% if !params[:search_by].blank? && !params[:commit].blank? && !@balance_report.present? %>
    <p>No results to display matching the date  <%= params[:search_term] %>.</p>
<% end %>


<% if @balance_report.present? %>


    <h2 class="text-center"><%= current_tenant.full_name %></h2>
    <h3 class="text-center">Trial Balance</h3>
    <h4 class="text-center"> <%= params[:search_term] ? "As on date #{params[:search_term]}" : "As on #{@date.to_s}" %></h4>

    <div class="bottom-buffer-sm">
      <div class="btn-group">
        <button class="btn btn-sm btn-default dropdown-toggle" aria-expanded="false", aria-haspopup="true", data-toggle="dropdown" type="button">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          Download
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "xlsx", @download_path_xlsx %></li>
        </ul>
      </div>
    </div>

    <br><br>

    <div class="box-body ledger trial">
      <%= react_component('TrialBalance', ledger_groups: @balance_report) %>
    </div>
<% end %>