%div#filterrific_results
  = render 'shared/pagination', collection_to_paginate: transaction_messages

  - if transaction_messages.present?
    %div.row
      %div.col-xs-6.top-buffer-sm
        = submit_tag 'Send Email', :type => 'button', class: 'btn btn-default', id: 'send-email'
        = image_tag("ajax-loader.gif", class:"spinner-circular hidden ", id: 'send-email-spinner')
        = submit_tag 'Send SMS', :type => 'button', class: 'btn btn-default', id: 'send-sms'
        = image_tag("ajax-loader.gif", class:"spinner-circular hidden ", id: 'send-sms-spinner')
      %div.col-xs-offset-4.col-xs-2.top-buffer-sm
        %div.row
          %div.col-xs-1
            %div.box-sm.sms-sent-index
          %div.col-xs-5
            Sent
        %div.row
          %div.col-xs-1
            %div.box-sm.sms-unsent-index
          %div.col-xs-5
            Unsent
        %div.row
          %div.col-xs-1
            %div.box-sm.sms-cant-send-index
          %div.col-xs-5
            Unsendable

      %div.col-xs-12.top-buffer-sm.text-center
        %div.alert.alert-info.email-queued-warning
          %strong Info!
          The emails you selected have been put in queue for email. Please refresh the page after a few seconds to see changes in status of the emails.
          %br
            Click here
            %span.glyphicon.glyphicon-refresh.refresh-icon
            to Refresh

  %div#transaction_message_list
    %table.table.table-striped
      %thead
        %th.text-center
          = 'All Email'
          = check_box_tag 'select_all', '', false, class: 'email'
        %th.text-center
          = 'All SMS'
          = check_box_tag 'select_all', '', false, class: 'sms'
        %th.col-xs-1.text-center= 'Email<br>Sent'.html_safe
        %th.col-xs-1.text-center= 'SMS<br>Sent'.html_safe
        %th.col-xs-1.text-center= 'Date'
        %th.col-xs-2.text-center= 'Client'
        %th.col-xs-2.text-center= 'Contacts'
        %th.col-xs-1.text-center= 'Bill'
        %th.col-xs-4.text-center= 'SMS Message'
      %tbody
        -if transaction_messages.present?
          -transaction_messages.each do |transaction_message|
            %tr{:class => (sms_status_indicator_class(transaction_message))}
              %td.text-center= check_box_tag transaction_message.id, '', false, class: transaction_message.can_email? ? 'email' : 'email cant-email'
              %td.text-center= check_box_tag transaction_message.id, '', false, class: transaction_message.can_sms? ? 'sms' : 'sms cant-sms'
              %td.text-center
                %span{:id => "email_status_#{transaction_message.id}"}
                  - if transaction_message.email_sent?
                    = 'Yes'
                    <br>
                    %div.light-text
                      = "count:#{transaction_message.sent_email_count}"
                  - else
                    = 'No'
                %div= link_to "Preview", transaction_message_path(id: transaction_message.id, format: "pdf"), :target => "_blank"
              %td.text-center{:id => "sms_status_#{transaction_message.id}"}
                - if transaction_message.sms_sent?
                  = 'Yes'
                  <br>
                  %span.light-text= "count:#{transaction_message.sent_sms_count}"
                - else
                  = 'No'
              %td.text-center.light-text= ad_to_bs_string(transaction_message.transaction_date)
              %td
                = transaction_message.client_account.name.titleize
                %span.light-text
                  ="(#{transaction_message.client_account.nepse_code})"
              %td
                <span class="glyphicon glyphicon-envelope"></span>
                = transaction_message.client_account.email.blank? ? "<a class='no-hover warning-text' data-toggle='tooltip' title='Client does not have a valid email.'>N/A</a>".html_safe : transaction_message.client_account.email
                <br>
                <span class="glyphicon glyphicon-phone"></span>
                = transaction_message.client_account.messageable_phone_number.present? ? transaction_message.client_account.messageable_phone_number : "<a class='no-hover warning-text' data-toggle='tooltip' title='Client does not have a valid mobile number.'>N/A</a>".html_safe
              %td
                = transaction_message.bill.present? ? "#{transaction_message.bill.fy_code}-#{transaction_message.bill.bill_number}" : "<a class='no-hover warning-text' data-toggle='tooltip' title='The transaction does not have a bill yet.'>N/A</a>".html_safe
              %td.sms-message.break-word= transaction_message.sms_message

    - if transaction_messages.blank?
      %div.row.text-center.top-buffer-md
        There are no matching transaction messages.

  = render 'shared/pagination', collection_to_paginate: transaction_messages
