%p#notice= notice
- provide(:section_title, "Transaction Messages")

= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f|
  .panel.panel-default.filter-form
    .panel-body
      .row
        .col-xs-3
          %label
            Client
          = f.collection_select(                        |
            :by_client_id,                              |
            @filterrific.select_options[:by_client_id], |
            :id,                                        |
            :name_and_nepse_code,                                      |
            {include_blank: '- Any -'},                 |
            {class: 'form-control combobox' })          |
        .col-xs-2
          %label
            Date
          %br
          = f.text_field(                 |
            :by_date,                     |
            :placeholder => 'YYYY-MM-DD', |
            class: 'form-control' )       |
        .col-xs-4
          .clearfix
            .text-center
              %label
                Date Range
          .clearfix
            .col-xs-6
              = f.text_field(                 |
                :by_date_from,                |
                :placeholder => 'YYYY-MM-DD', |
                class: 'form-control' )       |
            .col-xs-6
              = f.text_field(                 |
                :by_date_to,                  |
                :placeholder => 'YYYY-MM-DD', |
                class: 'form-control' )       |
      .row.top-buffer-sm
        .col-xs-3
          = f.submit 'Search'
          = link_to(                  |
                'Reset filters',      |
                reset_filterrific_url |
            )                         |
        .col-xs-3
          %div.no-paginate
            Show in single page
    = render_filterrific_spinner


= render(partial: 'transaction_messages/list', locals: { transaction_messages: @transaction_messages} )

