- provide(:section_title, "Transaction Messages")
%table.table.table-striped
  %thead

    %th.col-xs-2= "Transaction date"
    %th.col-xs-2= "Client Account"
    %th.col-xs-2= "Bill"
    %th.col-xs-4= "Sms Message"
    %th.col-xs-1= "SMS<br>Sent".html_safe
    %th.col-xs-1= "Email Sent"

  %tbody
    -@transaction_messages.each do |transaction_message|
      %tr
        %td= transaction_message.transaction_date
        %td= transaction_message.client_account.name
        %td= "#{transaction_message.bill.fy_code}-#{transaction_message.bill.bill_number}" if transaction_message.bill.present?
        %td.sms-message= transaction_message.sms_message
        %td= transaction_message.sms_default? ? "N" : "Y"
        %td= transaction_message.email_default? ? "N" : "Y"

= link_to 'New Transaction message', new_transaction_message_path
