<%= form_tag cheque_entries_path, :method => 'post', :enforce_utf8 => false do %>
    <div class="row">
      <div class="col-sm-4  form-group clearfix">
        <label>Bank Account </label>
        <%= select_tag "bank_account_id", options_from_collection_for_select(@bank_accounts, 'id', 'name'), class: 'form-control combobox', include_blank: false, prompt: 'Select a bank account...' %>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-6 form-group ">
            <label>First Cheque Number</label>
            <%= number_field_tag 'start_cheque_number', nil, class: 'form-control' %>
          </div>
          <div class="col-sm-6 form-group ">
            <label>Last Cheque Number </label>
            <%= number_field_tag 'end_cheque_number', nil, class: 'form-control' %>
          </div>
        </div>
      </div>

    </div>
    <div><%= button_tag 'Save Entries', class: 'btn btn-primary btn-flat', data: { disable_with: "<i class='fa fa-refresh fa-spin'></i> Saving Entries..."} %></div>
<% end %>
