<%= link_to "View(pdf)", cheque_entry_path(format: "pdf"), :target => "_blank" %>

<div class="btnPrintPDF btnPrintChequeEntryPDF" id="chequeEntry-<%= @cheque_entry.id %>">
  <span class="glyphicon glyphicon-print print-icon"></span>
  <span>Print</span>
  <%= image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'cheque-entry-print-spinner') %>
  <span class="cheque-print-error"><%= "Cheque is printed." if @cheque_entry.printed? %></span>
  <span class="cheque-print-error"><%= "Cheque is void." if @cheque_entry.void? %></span>
  <span class="cheque-print-error"><%= "Cheque is bounced." if @cheque_entry.bounced? %></span>
  <iframe class='hidden-iframe' id='iframe-for-cheque-entry-pdf-print'>
    <!--hidden iframe for printing-->
  </iframe>

</div>


<div class="printThis cheque-single clearfix">
  <div class="receipt-section show-on-print">
    <div class="receipt-cheque desc-on-left">
      <p>####</p>
      <p><%= @cheque_date.strftime("%Y-%m-%d") %></p>
      <p><%= @name %></p>
    </div>
    <div class="receipt-cheque amount-on-left">
      <%= arabic_number(@cheque_entry.amount) %>
    </div>
  </div>
  <div class="cheque-section">
    <div class="clearfix">
      <div class="cheque-header">
        <h4 class="acc-payee">A/C Payee Only</h4>
      </div>
      <div class="date-container text-right">
        <span class="date-display"><%= @cheque_date.strftime("%d-%m-%Y") %></span>
      </div>
    </div>
    <div class="clearfix">
      <span class="pay-this typo hide-on-print"><span class="hide-on-print">Pay against this cheque to </span></span><span class="client-name"><%= @name %></span>
    </div>
    <div class="clearfix">
      <div class="word">
        <span class="pay-word typo"><span class="hide-on-print">the sum of </span></span><span><%= arabic_word(@cheque_entry.amount) %></span>
      </div>
      <div class="amount text-right">
        <span class="amount-number"><%= arabic_number(@cheque_entry.amount) %></span>
      </div>
    </div>
    <br>
    <br>
    <p class="hide-on-print">" <%= @cheque_entry.cheque_number %> "</p>
  </div>
</div>

<%= link_to "Make Void", make_void_cheque_entries_path(id: @cheque_entry.id), class: 'btn btn-danger btn-flat'  if @cheque_entry.payment? && !@cheque_entry.void? %>
<%= link_to "Make Bounced", bounce_cheque_entries_path(id: @cheque_entry.id), class: 'btn btn-danger btn-flat' if @cheque_entry.receipt? && !@cheque_entry.bounced? %>
<%= link_to "Represent", represent_cheque_entries_path(id: @cheque_entry.id), class: 'btn btn-danger btn-flat' if @cheque_entry.receipt? && @cheque_entry.bounced? %>
