<% provide(:section_title, "Cheque Entries") %>
<%= link_to 'New Cheque entry', new_cheque_entry_path %> |
<%= link_to 'Cheques Issued', cheque_entries_path(type: 'company') %> |
<%= link_to 'Cheques Received', cheque_entries_path(type: 'client') %> |
<%= link_to 'Available Cheques', cheque_entries_path %>
<table class="table">
  <thead>
    <tr>
      <th>Cheque Number</th>
      <th>Bank Name</th>
      <th>Account Number</th>
      <th>Client Name</th>
      <th>Cheque Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @cheque_entries.each do |cheque_entry| %>
      <tr>
        <td><%= cheque_entry.cheque_number %></td>
        <td><%= cheque_entry.bank_account.bank.name %></td>
        <td><%= cheque_entry.bank_account.account_number %></td>
        <td><%= cheque_entry.client_account.name if cheque_entry.client_account.present? %></td>
        <td><%= cheque_entry.cheque_date if cheque_entry.cheque_date.present? %></td>
        <td><%= cheque_entry.status.titleize %></td>
        <td><%= link_to 'Show', cheque_entry if !cheque_entry.unassigned? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>