%p#notice= notice
- provide(:section_title, "Cheque Entries")

= form_for_filterrific @filterrific, html:  { id: 'filterrific-no-ajax-auto-submit' } do |f|
  .panel.panel-default.filter-form
    .panel-body
      .row
        .col-xs-2
          %label
            Client
          = f.collection_select(                        |
            :by_client_id,                              |
            @filterrific.select_options[:by_client_id], |
            :id,                                        |
            :name_and_nepse_code,                                      |
            {include_blank: '- Any -'},                 |
            {class: 'form-control combobox' })          |
          %div.top-buffer-md
            = f.submit 'Search'
            = link_to(                  |
                  'Reset filters',      |
                  reset_filterrific_url |
              )                         |
        .col-xs-2
          %label
            Bank Account
          = f.collection_select(                        |
            :by_bank_account_id,                              |
            @filterrific.select_options[:by_bank_account_id], |
            :id,                                        |
            :name,                                      |
            {include_blank: '- Any -'},                 |
            {class: 'form-control combobox' }) |
        .col-xs-2
          %label
            Status
          = f.select(                        |
            :by_cheque_entry_status,                              |
            @filterrific.select_options[:by_cheque_entry_status], |
            {include_blank: '- Any -'},                 |
            {class: 'form-control combobox' })          |
        .col-xs-2
          %label
            Type
          = f.select(                        |
            :by_cheque_issued_type,                              |
            @filterrific.select_options[:by_cheque_issued_type], |
            {include_blank: '- Any -'},                 |
            {class: 'form-control combobox' }) |
        .col-xs-2
          %label
            Date
          %br
          = f.text_field(                 |
            :by_date,                     |
            :placeholder => 'YYYY-MM-DD', |
            class: 'form-control' )       |
        .col-xs-2.text-center
          %label
            Date Range
          .clearfix
            .row
              = f.text_field(                 |
                :by_date_from,                |
                :placeholder => 'YYYY-MM-DD', |
                class: 'form-control' )       |
            .row.top-buffer-sm
              = f.text_field(                 |
                :by_date_to,                  |
                :placeholder => 'YYYY-MM-DD', |
                class: 'form-control' )       |
    = render_filterrific_spinner


= render(partial: 'cheque_entries/list', locals: { cheque_entries: @cheque_entries} )

