<p><%= @cheque_entry.additional_bank_id.present? ? current_tenant.full_name : @cheque_entry.client_account.name  %></p>
<p>Amount: <%= arabic_number(@cheque_entry.particular.amnt) %></p>
<p> <%= arabic_word(@cheque_entry.particular.amnt) %></p>


<%= link_to 'Edit', edit_cheque_entry_path(@cheque_entry) %> |
<%= link_to 'Back', cheque_entries_path %>
