%p#notice= notice
- provide(:section_title, "Cheque Entry Void")

= simple_form_for(@cheque_entry, :url => void_do_cheque_entries_path(id: @cheque_entry.id), :method => :patch) do |f|
  = f.error_notification

  .clearfix
    .col-xs-6
      .form-inputs
        -#= f.input :cheque_issued_type, input_html: { value: f.object.cheque_issued_type }, :label => 'Cheque Type', :disabled => true
        = f.input :beneficiary_name, :disabled => true, :label => :beneficiary_name.to_s.titleize
        -#= f.input :additional_bank, input_html: { value: f.object.bank_account.name }, :disabled => true, :label => 'Bank'
        = f.input :cheque_number, :disabled => true, :label => :cheque_number.to_s.titleize, :required => false
        = f.input :amount, input_html: { value: arabic_number(f.object.amount) || 1 }, :disabled => true, as: :string
        = f.input :cheque_date_bs, input_html: { value: f.object.cheque_date.present? ? ad_to_bs(f.object.cheque_date) : ad_to_bs(Date.today) }, :disabled => true, :label => "Cheque Date(BS)"
        = f.input :void_date, input_html: { value: f.object.void_date.present? ? ad_to_bs(f.object.void_date) : f.object.void_date_bs }, as: :string, :label => 'Void Date(BS)'
        = f.input :void_narration, as: :text, :label => :void_narration.to_s.titleize

      .form-actions
        = link_to 'Cancel', cheque_entry_path(id: @cheque_entry.id), class: 'btn btn-danger btn-flat'
        = f.button :submit, 'Void Cheque'
