<% if user_signed_in? %>
<%# add navigation links to this file %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">File Uploads<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Orders', new_files_order_path	 %></li>
    <li><%= link_to 'FloorSheet', new_files_floorsheet_path %></li>
    <li><%= link_to 'Sales CM', new_files_sale_path	 %></li>
    <li><%= link_to 'DpA5', new_files_dpa5_path %></li>
    <li><%= link_to 'CloseOut Debit', new_files_closeout_path(type: 'debit') %></li>
    <li><%= link_to 'CloseOut Credit', new_files_closeout_path(type: 'credit') %></li>
  </ul>
</li>
<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Section<span class="caret"></span></a>
  <ul class="dropdown-menu sub-menu" role="menu">
    <div class="yamm-content">
      <div class="row">
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Vouchers</strong></p></li>
          <li><%= link_to 'Journal', new_voucher_path	 %></li>
          <li><%= link_to 'Purchase', new_voucher_path(voucher_type: "purchase") %></li>
          <li><%= link_to 'Sales', new_voucher_path(voucher_type: "sales") %></li>
          <li><%= link_to 'Pending Payment', vouchers_path %></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Ledgers</strong></p></li>
          <li><%= link_to 'Ledger List', ledgers_path %></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bills</strong></p></li>
          <li><%= link_to 'Bill List', bills_path %></li>
          <li><%= link_to 'Cancel Transaction', deal_cancel_share_transactions_path %></li>
        </ul>
        <ul class="col-xs-2 list-unstyled">
          <li><p><strong>Bank</strong></p></li>
          <li><%= link_to 'All Banks', banks_path %></li>
          <li><%= link_to 'Bank Accounts', bank_accounts_path %></li>
          <li><%= link_to 'New Bank Account', new_bank_account_path %></li>
          <li><%= link_to 'Cheque Entry', new_cheque_entry_path %></li>
        </ul>
      </div>
    </div>
  </ul>
</li>
<li><%= link_to 'Client Accounts', client_accounts_path %></li>

<!-- <li><%= link_to 'Groups', groups_path %></li> -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Balance Sheet', report_balancesheet_index_path	 %></li>
    <li><%= link_to 'Profit & Loss', report_profitandloss_index_path %></li>
    <li><%= link_to 'Share Inventory', share_transactions_path %></li>
    <li><%= link_to 'Cancelled Transactions', share_transactions_path(search_by: 'cancelled') %></li>
  </ul>
</li>
<% end %>
<%= render "layouts/nav_links_for_auth" %>
