<%# add navigation links to this file %>
<li><%= link_to 'Voucher', vouchers_path %></li>
<li><%= link_to 'Ledger', ledgers_path %></li>
<li><%= link_to 'Bill', bills_path %></li>
<li><%= link_to 'Groups', groups_path %></li>
<li><%= link_to 'Balance Sheet', report_balancesheet_index_path	 %></li>
<li><%= link_to 'Profit & Loss', report_profitandloss_index_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
