<%= simple_form_for(@voucher) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <h4>Date</h4>
  	<%= f.date_field :date_bs %>
  </div>
  
  
  <div class="form-inputs">
    <h3>Particulars</h3>
    <div class="row">
      <div class="col-xs-3"><h4>Ledger</h4></div>
      <div class="col-xs-3"><h4>Amount</h4></div>
      <div class="col-xs-3"><h4>Transaction Type</h4></div>
      <div class="col-xs-3"><h4>Details</h4></div>    
    </div>

    <%= f.fields_for :particulars do |p| %>
      <%= render 'particular_fields', f: p %>
    <% end %>
    <%= link_to_add_fields "Add Particular", f, :particulars %>
  </div>
  <div class="form-inputs">
    <h4>Narration</h4>
    <%= f.input  :desc, label: false %>
  </div>
  <div class="form-actions">
    <%= f.submit  %>
  </div>
<% end %>
