<%= link_to "View(pdf)", voucher_path(format: "pdf"), :target => "_blank" %>

<div class="btnPrintPDF btnPrintVoucherPDF" id="voucher-<%= @voucher.id %>">
  <span class="glyphicon glyphicon-print print-icon"></span>
  <span>Print</span>
  <%= image_tag("ajax-loader.gif", class: "spinner-circular hidden ", id: 'voucher-print-spinner') %>
  <iframe class='hidden-iframe' id='iframe-for-voucher-pdf-print'>
    <!--hidden iframe for printing-->
  </iframe>
</div>

<div class="printThis">
  <% if @voucher.is_payment_bank %>
      <div class="box box-primary box-printable z-light-bg">

        <div class="box-body">
          <strong>
            <%= current_tenant.full_name %><br>
            <%= current_tenant.address %><br>
            Phone: <%= current_tenant.phone_number %><br>
            Fax: <%= current_tenant.fax_number %><br>
            PAN: <%= current_tenant.pan_number %><br>
          </strong>
          <hr class="grey-hr">
          <h3>Payment voucher Bank</h3>
          <div class="row">

            <div class="col-xs-5">
              <p>Voucher Number: <%= "#{@voucher.voucher_code} #{@voucher.fy_code}-#{@voucher.voucher_number}" %></p>
            </div>
            <div class="col-xs-7 text-right">
              <p>Voucher Date: <%= @voucher.date_bs %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 text-right">
              <p>Cr Account Name: <%= "#{@bank_account.account_number} #{@bank_account.bank_name}" %></p>
            </div>
          </div>
        </div>

        <div class="box-header">
          <div class="row">
            <h3 class="box-title col-xs-3">Account Head</h3>
            <h3 class="box-title col-xs-4">Particular</h3>
            <h3 class="box-title col-xs-3">Cheque Number</h3>
            <h3 class="box-title col-xs-2">Amount</h3>
          </div>
        </div>
        <div class="box-body">
          <div style='min-height: 100px'>
            <% total_particular_amount = 0  %>
            <% @particulars.each do |particular| %>
                <div class="row">
                  <div class="col-xs-3">
                    <%= particular.ledger.name %>
                  </div>
                  <div class="col-xs-4">
                    <% if particular.bills.by_client_id(particular.ledger.client_account_id).count > 0 %>
                        Being paid to <%= particular.ledger.name %>
                        for
                        <% particular.bills.by_client_id(particular.ledger.client_account_id).each do |bill| %>
                            Bill :<%= link_to "#{bill.fy_code}-#{bill.bill_number}", bill_path(bill), remote: true  %>
                            Amount : <%= arabic_number(bill.net_amount) %>
                        <% end %>
                    <% else %>
                        <% paid_to = particular.cheque_entries.first.beneficiary_name if particular.cheque_entries.first.present? %>
                        <% paid_to ||= particular.ledger.name %>
                        <%= @voucher.desc.present? ? "#{@voucher.desc}" : "Being paid to #{paid_to}" %>
                    <% end %>
                  </div>
                  <div id="cheque_number" class="col-xs-3">
                    <%= particular.cheque_entries.try(:first).try(:cheque_number) %>
                  </div>
                  <div class="col-xs-2 text-right">
                    <%= arabic_number(particular.amount) %>
                  </div>
                </div>
                <br>
                <% total_particular_amount += particular.amount  %>
            <% end %>
            <hr class="grey-hr">
            <div class="row">
              <strong>
                <em>
                  <div class="col-xs-3 col-xs-offset-7 text-right">Total Amount</div>
                  <div id="total_amount" class="col-xs-2 text-right"><%= arabic_number(total_particular_amount) %></div>
                </em>
              </strong>
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-xs-3">
              <div class="text-center name-section"><span><%= current_user.name %></span></div>
              <hr class="clearfix horizontal-line">
              <p class="text-center">Prepared By</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
              <div class="text-center name-section"><span></span></div>
              <hr class="clearfix horizontal-line">
              <p class="text-center">Approved By</p>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
              <div class="text-center name-section"><span><%= @voucher.beneficiary_name %></span></div>
              <hr class="clearfix horizontal-line">
              <p class="text-center">Received By</p>
            </div>

          </div>
        </div>

      </div>

      <% if @voucher.pending? %>
          <%= form_tag(finalize_payment_vouchers_path) do %>
              <%= hidden_field_tag 'from_path', @from_path %>
              <%= hidden_field_tag 'id', @voucher.id %>
              <%= submit_tag 'Reject', :name => 'reject', class: 'hide-on-print' %>
              <%= submit_tag 'Approve', :name => 'approve', class: 'hide-on-print' %>
          <% end %>

      <% end %>

  <% else #if !@voucher.is_payment_bank  %>
      <!--This logic for ledger to ledger transfer (using JVR).-->
      <div>
        <strong>
          <%= current_tenant.full_name %><br>
          <%= current_tenant.address %><br>
          Phone: <%= current_tenant.phone_number %><br>
          Fax: <%= current_tenant.fax_number %><br>
          PAN: <%= current_tenant.pan_number %><br>
        </strong>
      </div>
      <hr class="grey-hr">
      <div class="row">


        <div class="col-xs-5">
          <p>Voucher Number: <%= "#{@voucher.voucher_code} #{@voucher.fy_code}-#{@voucher.voucher_number}" %></p>
        </div>
        <div class="col-xs-7 text-right">
          <p>Voucher Date: <%= @voucher.date_bs %></p>
        </div>
      </div>
      <div>
        <p><%= "Description: #{@voucher.desc}" if !@voucher.desc.blank? %></p>
        <br>
      </div>
      <div class="box box-primary z-light-bg">
        <div class="box-header">
          <div class="row">
            <h3 class="box-title col-xs-6">Ledger Details</h3>
            <h3 class="box-title col-xs-3 text-right">Dr</h3>
            <h3 class="box-title col-xs-3 text-right">Cr</h3>
          </div>
        </div>
        <div class="box-body">
          <% total_particular_dr_amount = 0  %>
          <% total_particular_cr_amount = 0  %>
          <% @particulars.order('transaction_type ASC').each do |particular| %>
              <div class="row">
                <div class="col-xs-6">
                  <%= particular.ledger.name %>
                </div>

                <div class="col-xs-3 text-right"><%= (particular.dr?) ? arabic_number(particular.amount) : "" %></div>
                <div class="col-xs-3 text-right"><%= (particular.cr?) ? arabic_number(particular.amount) : "" %></div>

              </div>
              <br>
            <% total_particular_dr_amount  += (particular.dr? ? particular.amount : 0) %>
             <% total_particular_cr_amount  += (particular.cr? ? particular.amount : 0) %>
          <% end %>
       
        <hr class="grey-hr">
       
        <div class="row">
          <strong>
            <em>
              <div class="col-xs-6">
                Total
              </div>

              <div id ="total_dr" class="col-xs-3 text-right"><%=  arabic_number(total_particular_dr_amount) %></div>
              <div id = "total_cr" class="col-xs-3 text-right"><%=arabic_number(total_particular_cr_amount) %></div>
            </em>
          </strong>
        </div>
        <br>
        <br>

        <div class="row">
          <div class="col-xs-3">
            <div class="text-center name-section"><span><%= current_user.name %></span></div>
            <hr class="clearfix horizontal-line">
            <p class="text-center">Prepared By</p>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <div class="text-center name-section"><span></span></div>
            <hr class="clearfix horizontal-line">
            <p class="text-center">Approved By</p>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <div class="text-center name-section"><span><%= @voucher.beneficiary_name %></span></div>
            <hr class="clearfix horizontal-line">
            <p class="text-center">Received By</p>
          </div>
      </div>
      </div>
      </div>
  <% end %>
</div>