

<h4>Listing Pending Vouchers</h4>

<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Voucher Number</th>
      <th>Voucher Description</th>
      <th>Linked Ledgers</th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.date_bs %></td>
        <td><%= "#{voucher.voucher_code}-#{voucher.voucher_number}" %></td>
        <td><%= voucher.desc %></td>
        <td><%= voucher.formatted_linked_ledgers%></td>
        <td><%= link_to 'Show', voucher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
